<% if contracts.empty? %>
  該当なし
<% else %>
<table class="list_table">
  <tr>
    <th rowspan=2><%=getShortName('contracts', 'id') %></th>

    <th rowspan=2><%=getShortName('human_resources', 'human_resource_name') %></th>

    <th rowspan=2><%=getShortName('contracts', 'contract_pic_id') %></th>

    <th rowspan=2>契約ST</th>

    <th rowspan=2>契約期間</th>

    <th rowspan=2 title="契約更新単位月数(事前通達月数)">更新</th>

    <th>稼働開始</th>

    <th>上流</th>

    <th title="上流契約ステータス">上流ST</th>

    <th>単価</th>

    <th>支払い</th>

    <th>粗利</th>
  </tr>
  <tr>
    <th>稼働終了</th>

    <th>下流</th>

    <th title="下流契約ステータス">下流ST</th>

    <th>単価</th>

    <th>支払い</th>

    <th>粗利率</th>
  </tr>
<% for contract in contracts %>
  <tr <%=raw(contract.finished? ? 'style="background-color: lightgray"' : "")%>>
    <td rowspan=2><%=h contract.id %></td>

    <td rowspan=2><%=back_to_link contract.approach.bp_member.human_resource.useful_name, :controller => :approach, :action => :show, :id => contract.approach %></td>

    <td rowspan=2><%=h contract.contract_pic.employee.employee_short_name %></td>

    <td rowspan=2><%=h contract.contract_status_type_name %></td>

    <td rowspan=2><%=h contract.term_term %></td>

    <td rowspan=2><%=h contract.contract_renewal %></td>

    <td><%=_date2 contract.approach.start_date %></td>

    <td><%=h contract.approach.biz_offer.business_partner.business_partner_short_name %></td>

    <td style="background-color: <%=color(contract, contract.upper_contract_status_type)%>"><%=h contract.upper_contract_status_type_name %></td>

    <td class="right"><%=man contract.upper_contract_term.payment_view %></td>

    <td><%=h contract.upper_contract_term.cutoff_and_sight %></td>

    <td class="right"><%=man contract.payment_diff_veiw %></td>
  </tr>
  <tr <%=raw(contract.finished? ? 'style="background-color: lightgray"' : "")%>>
    <td><%=_date2 contract.approach.end_date %></td>

    <td><%=h contract.approach.bp_member.business_partner.business_partner_short_name %></td>

    <td style="background-color: <%=color(contract, contract.down_contract_status_type)%>"><%=h contract.down_contract_status_type_name %></td>

    <td class="right"><%=man contract.down_contract_term.payment_view %></td>

    <td><%=h contract.down_contract_term.cutoff_and_sight %></td>

    <td class="right"><%=h contract.payment_redio %>%</td>
  </tr>
<% end %>
</table>
<% end %>

