<h1><%= title%></h1>

<%= form_tag( {}, {:class => ""}) do %>
  <div class="form-gorup form-inline">
    <label for="year">対象年月</label>
    <%= select_tag "year", options_for_select(years, params[:year].to_s) %>
    <%= select_tag "month", options_for_select(months, params[:month].to_s) %>
    <%= submit_tag "選択", :name => "select" %>
    <%= submit_tag "クリア", :name => "clear" %>
  </div>
<% end %>

<%= back_to_link "稼働状況表", :action => :works %>

<%= @contract_pages && paginate(@contracts) %>

<% if @summary %>
  <table class="list_table">
    <tr><th>種別</th><th>売上</th><th>原価</th><th>粗利</th><th>粗利率</th></tr>
    <% [["社員", @summary_prop], ["外注", @summary_non_prop], ["合計", @summary]].each do |x| %>
      <tr><td><%=x[0]%></td><td class="right"><%=pay x[1][:upper_payment]%></td><td class="right"><%=pay x[1][:down_payment]%></td><td class="right"><%=pay x[1][:gross_profit]%></td><td class="right"><%= rate x[1][:upper_payment], x[1][:gross_profit] %></td></tr>
    <% end %>
  </table>
  <% prop, non_prop = @contracts.partition {|c| c.proper? } %>
  <h2>社員</h2>
  <%= render :partial => 'list', :locals => {:contracts => prop} %>
  <h2>外注</h2>
  <%= render :partial => 'list', :locals => {:contracts => non_prop} %>
<% else %>
  <%= render :partial => 'list', :locals => {:contracts => @contracts} %>
<% end %>


<%= @contract_pages && paginate(@contracts) %>

<br />

<%= back_to_link (getLongName('table_name','contracts')+'の新規作成'), :action => 'quick_new' %> |
<%= back_to_link "次期契約作成処理", {:controller => :api, :action => 'make_next_contracts', :authenticity_token => form_authenticity_token}, :method => :post, :class => 'btn btn-primary btn-small', :confirm => "通知期限2カ月前の契約に対して、次期契約を自動生成します。よろしいですか？" %> |
<%= back_to_link "契約終了処理", {:controller => :api, :action => 'close_contracts', :authenticity_token => form_authenticity_token}, :method => :post, :class => 'btn btn-primary btn-small', :confirm => "期限の切れた契約をクローズします(ただし確認中契約がある場合はクローズしません)。よろしいですか？" %>

<% unless session[:msgids].to_s.split(",").include?("keiyaku1") %>
<div class="alert alert-block">
 <button type="button" class="close" data-dismiss="alert" onclick="fixmessage('<%=url_for(:controller => :users, :action => :fixmessage, :id => 'keiyaku1', :authenticity_token => form_authenticity_token)%>')">&times;</button>
 <h4>注意!</h4>
 <p>
   ※契約を登録する前に、人材所属を前もって登録しておく必要があります。<br/>
   ※未登録の場合、メニューから、人材所属を選択し、新規登録してください。
 </p>
</div>
<% end %>
