<h1><%=getLongName('table_name','contracts')%>一覧</h1>

<%= paginate(@contracts) %>

<table class="list_table">
  <tr>
    <th rowspan=2><%=getShortName('contracts', 'id') %></th>

    <th rowspan=2><%=getShortName('human_resources', 'human_resource_name') %></th>

    <th rowspan=2><%=getShortName('contracts', 'contract_pic_id') %></th>

    <th rowspan=2><%=getShortName('contracts', 'contract_status_type') %></th>

    <th rowspan=2>契約期間</th>

    <th rowspan=2 title="契約更新単位月数(事前通達月数)">更新</th>

    <th>稼働開始</th>

    <th>上流取引先</th>

    <th>上流契約ST</th>

    <th>単価</th>

    <th>支払い</th>

    <th>粗利</th>
  </tr>
  <tr>
    <th>稼働終了</th>

    <th>下流取引先</th>

    <th>下流契約ST</th>

    <th>単価</th>

    <th>支払い</th>

    <th>粗利率</th>
  </tr>
<% for contract in @contracts %>
  <tr>
    <td rowspan=2><%=h contract.id %></td>

    <td rowspan=2><%=back_to_link contract.approach.bp_member.human_resource.useful_name, :controller => :approach, :action => :show, :id => contract.approach %></td>

    <td rowspan=2><%=h contract.contract_pic.employee.employee_short_name %></td>

    <td rowspan=2><%=h contract.contract_status_type_name %></td>

    <td rowspan=2><%=h contract.term_term %></td>

    <td rowspan=2><%=h contract.contract_renewal %></td>

    <td><%=h contract.approach.start_date %></td>

    <td><%=h contract.approach.biz_offer.business_partner.business_partner_name %></td>

    <td><%=h contract.upper_contract_status_type_name %></td>

    <td><%=h contract.upper_contract_term.payment_view %>万円</td>

    <td><%=h contract.upper_contract_term.cutoff_and_sight %></td>

    <td><%=h contract.payment_diff_veiw %>万円</td>
  </tr>
  <tr>
    <td><%=h contract.approach.end_date %></td>

    <td><%=h contract.approach.bp_member.business_partner.business_partner_name %></td>

    <td><%=h contract.down_contract_status_type_name %></td>

    <td><%=h contract.down_contract_term.payment_view %>万円</td>

    <td><%=h contract.down_contract_term.cutoff_and_sight %></td>

    <td><%=h contract.payment_redio %>%</td>
  </tr>
<% end %>
</table>

<%= paginate(@contracts) %>

<br />

<%= back_to_link (getLongName('table_name','contracts')+'の新規作成'), :action => 'quick_new' %>

<% unless session[:msgids].to_s.split(",").include?("keiyaku1") %>
<div class="alert alert-block">
 <button type="button" class="close" data-dismiss="alert" onclick="fixmessage('<%=url_for(:controller => :users, :action => :fixmessage, :id => 'keiyaku1', :authenticity_token => form_authenticity_token)%>')">&times;</button>
 <h4>注意!</h4>
 <p>
   ※契約を登録する前に、人材所属を前もって登録しておく必要があります。<br/>
   ※未登録の場合、メニューから、人材所属を選択し、新規登録してください。
 </p>
</div>
<% end %>
