<h1><%= @business.business_title %> [<%= @human_resource.human_resource_name.blank? ? @human_resource.initial : @human_resource.human_resource_name %>] </h1>

<!-- 契約詳細 -->
<% @approach.contracts.each do |contract| %>
  <h2><%=getLongName('table_name','contracts')%>情報 <%= contract.term_term%></h2>

  <%= render :partial => 'contract/show', :locals => {:contract => contract} %>
  <%= back_to_link '契約情報編集', :controller => 'contract', :action => 'edit', :id => contract %> |
  <%= back_to_link '契約削除', {:controller => 'contract', :action => 'destroy', :id => contract, :authenticity_token => form_authenticity_token}, :method => :post, :confirm => "この契約を削除します。よろしいですか？" %>

<% end %>

<!-- 案件詳細 -->
<h2><%=getLongName('table_name','businesses')%>情報</h2>
<%= render :partial => 'business/show' %>

<!-- 照会詳細 -->
<h2><%=getLongName('table_name','biz_offers')%>情報</h2>
<%= render :partial => 'biz_offer/show' %>
<%= back_to_link '案件照会情報編集', :controller => :biz_offer, :action => 'edit', :id => @approach.biz_offer %>

<!-- 人材詳細 -->
<h2><%=getLongName('table_name','human_resources')%>情報</h2>
<%= render :partial => 'human_resource/show' %>

<!-- 所属詳細 -->
<h2><%=getLongName('table_name','bp_members')%>情報</h2>
<%= render :partial => 'bp_member/show' %>
<%= back_to_link '人材所属情報編集', :controller => :bp_member, :action => 'edit', :id => @approach.bp_member %>

<h2><%=getLongName('table_name','approaches')%>情報</h2>
<table class="show_table">
<tr>
  <th><%= getLongName('approaches', 'approach_status_type') %></th><td colspan=2><%=h @approach.approach_status_type_name %></td>
</tr>
<tr>
  <th><%= getLongName('approaches', 'approached_at') %></th><td colspan=2><%=h @approach.approached_at %></td>
</tr>
<tr>
  <th>提案担当者名</th><td colspan=2><%=h @approach.approach_pic_name %></td>
</tr>
<tr>
  <th><%= getLongName('approaches', 'approach_start_date') %></th><td colspan=2><%=h @approach.approach_start_date %></td>
</tr>
<tr>
  <th><%= getLongName('approaches', 'can_interview_date') %></th><td colspan=2><%=h @approach.can_interview_date %></td>
</tr>

<tr>
  <th><%= getLongName('approaches', 'closed_at') %></th><td colspan=2><%=h @approach.closed_at %></td>
</tr>
<tr>
  <th><%= getLongName('approaches', 'start_date') %></th><td colspan=2><%=h @approach.start_date %></td>
</tr>
<tr>
  <th><%= getLongName('approaches', 'end_date') %></th><td colspan=2><%=h @approach.end_date %></td>
</tr>

<tr>
  <th>単価差額</th><td colspan=2><%=h (@approach_upper_contract_term.payment_view - @approach_down_contract_term.payment_view) %>万円</td>
</tr>
<tr>
  <th>提案契約条件</th>
  <th>上流</th>
  <th>下流</th>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'term_type') %></th>
  <td><%=h @approach_upper_contract_term.term_type_name%></td>
  <td><%=h @approach_down_contract_term.term_type_name%></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'payment') %></th>
  <td><%=h @approach_upper_contract_term.payment_view %>万円</td>
  <td><%=h @approach_down_contract_term.payment_view %>万円</td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'tax_type') %></th>
  <td><%=h (@approach_upper_contract_term.tax_type) %></td>
  <td><%=h (@approach_down_contract_term.tax_type) %></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'time_adjust_type') %></th>
  <td><%=h (@approach_upper_contract_term.time_adjust_type) %></td>
  <td><%=h (@approach_down_contract_term.time_adjust_type) %></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'time_adjust_upper') %></th>
  <td><%=h @approach_upper_contract_term.time_adjust_upper %></td>
  <td><%=h @approach_down_contract_term.time_adjust_upper %></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'time_adjust_limit') %></th>
  <td><%=h @approach_upper_contract_term.time_adjust_limit %></td>
  <td><%=h @approach_down_contract_term.time_adjust_limit %></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'time_adjust_under') %></th>
  <td><%=h @approach_upper_contract_term.time_adjust_under %></td>
  <td><%=h @approach_down_contract_term.time_adjust_under %></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'time_adjust_base_type') %></th>
  <td><%=h @approach_upper_contract_term.time_adjust_base_type_name%></td>
  <td><%=h @approach_down_contract_term.time_adjust_base_type_name%></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'over_time_payment') %></th>
  <td><%=h @approach_upper_contract_term.over_time_payment %>円</td>
  <td><%=h @approach_down_contract_term.over_time_payment %>円</td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'under_time_penalty') %></th>
  <td><%=h @approach_upper_contract_term.under_time_penalty %>円</td>
  <td><%=h @approach_down_contract_term.under_time_penalty %>円</td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'time_adjust_time') %></th>
  <td><%=h @approach_upper_contract_term.time_adjust_time %></td>
  <td><%=h @approach_down_contract_term.time_adjust_time %></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'cutoff_date_type') %></th>
  <td><%=h @approach_upper_contract_term.cutoff_date_type_name%></td>
  <td><%=h @approach_down_contract_term.cutoff_date_type_name%></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'payment_sight_type') %></th>
  <td><%=h @approach_upper_contract_term.payment_sight_type_name%></td>
  <td><%=h @approach_down_contract_term.payment_sight_type_name%></td>
</tr>
<%if false%>
<tr>
  <th><%= getLongName('contract_terms', 'contract_start_date') %></th>
  <td><%=h @approach_upper_contract_term.contract_start_date %></td>
  <td><%=h @approach_down_contract_term.contract_start_date %></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'contract_end_date') %></th>
  <td><%=h @approach_upper_contract_term.contract_end_date %></td>
  <td><%=h @approach_down_contract_term.contract_end_date %></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'contract_renewal_unit') %></th>
  <td><%=h @approach_upper_contract_term.contract_renewal_unit %></td>
  <td><%=h @approach_down_contract_term.contract_renewal_unit %></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'contract_renewal_terms') %></th>
  <td><%=h @approach_upper_contract_term.contract_renewal_terms %></td>
  <td><%=h @approach_down_contract_term.contract_renewal_terms %></td>
</tr>
<%end%>
<tr>
  <th>ペナルティーなど</th>
  <td><%=h @approach_upper_contract_term.other_terms %></td>
  <td><%=h @approach_down_contract_term.other_terms %></td>
</tr>
<tr>
  <th><%= getLongName('contract_terms', 'memo') %></th>
  <td><%=simple_format @approach_upper_contract_term.memo %></td>
  <td><%=simple_format @approach_down_contract_term.memo %></td>
</tr>

<tr>
  <th><%= getLongName('approaches', 'memo') %></th><td colspan=2><%=simple_format @approach.memo %></td>
</tr>

<tr>
  <th><%= getLongName('approaches', 'created_at') %></th><td colspan=2><%= _time_long(@approach.created_at) %></td>
</tr>
<tr>
  <th><%= getLongName('approaches', 'created_user') %></th><td colspan=2><%= get_nickname(@approach.created_user) %></td>
</tr>
<tr>
  <th><%= getLongName('approaches', 'updated_at') %></th><td colspan=2><%= _time_long(@approach.updated_at) %></td>
</tr>
<tr>
  <th><%= getLongName('approaches', 'updated_user') %></th><td colspan=2><%= get_nickname(@approach.updated_user) %></td>
</tr>
</table>
<%= back_to_link '提案情報編集', :action => 'edit', :id => @approach %>


<%= form_tag do %>
  <% if @approach.approach_status_type == 'approaching' %>
    <h3>提案ステータス変更ボタン</h3>
    <%= submit_tag '　　提案成功　　', :name => 'approach_success', :confirm => "次は面談を作成してくださいね。" %> 
    <%= submit_tag '　　提案調整　　', :name => 'approach_adjustment' %> 
    <%= submit_tag '　　提案却下　　', :name => 'approach_reject' %> 
  <% elsif @approach.approach_status_type == 'adjust' %>
    <h3>提案ステータス変更ボタン</h3>
    <%= submit_tag '　　提案却下　　', :name => 'approach_reject' %> 
    <%= submit_tag '　　再提案　　', :name => 'approach_retry' %>
  <% end %>
  <p></p>
<% end %>


<h2>スキルシート一覧</h2>

<% if !@attachment_files.blank? %>
  <%= render :partial => 'attachment_file/list' %>
<% end %>

<%= form_tag({:controller => 'attachment_file', :action => 'create', :parent_table => 'approaches', :parent_id => @approach, :back_to => request.env['REQUEST_URI']}, :multipart => true) do %>
  <div>
  <table>
    <tr>
      <td rowspan=2>スキルシートのアップロード </td>
      <td><%= file_field_tag 'upfile', :size => 60 %></td>
    </tr>
    <tr>
      <td><%= submit_tag "アップロードする" %></td>
    </tr>
  </table>
  </div>
<% end %>

<p><%= link_or_back '戻る', :action => :list %></p>

