<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
<%= accordion_around "登録内容の修正", "" do %>
  <%= devise_error_messages! %>
<table class="form_table">
  <tr>
  <th><%= f.label :email, 'Eメール(*)' %></th>
  <td><%= f.email_field :email, :autofocus => true %></td>
  </tr>

  <tr>
  <th><%= f.label :nickname, '名前(*)' %></th>
  <td><%= f.text_field :nickname %></td>
  </tr>

  <tr>
  <th><%= f.label :current_password, '現在のパスワード(*)' %></th>
  <td><%= f.password_field :current_password %></td>
  </tr>

  <tr>
  <th><%= f.label :password, 'パスワード' %></th>
  <td><%= f.password_field :password %> <i>(変更しない場合はブランクにしてください)</i></td>
  </tr>

  <tr>
  <th><%= f.label :password_confirmation, 'パスワード確認' %></th>
  <td><%= f.password_field :password_confirmation %></td>
  </tr>

  <tr>
  <th><%= label_tag :company_name, '会社名' %></th>
  <td><%= resource.owner.company_name %></td>
  </tr>

  <tr>
  <th><%= f.label :mail_signature, 'メール署名' %></th>
  <td><%= f.text_area :mail_signature %></td>
  </tr>

  <tr>
  <th><%= f.label :contact_mail_template_id, 'あいさつメールテンプレート' %></th>
  <td><%= f.select :contact_mail_template_id, available_contact_mail_template_list, { :include_blank => true } %></td>
  </tr>

</table>
<% end %>
<div class="submit_box">
  <%= f.submit "変更する", btn_primary %>
  <%= link_or_back "戻る", root_path %>
</div>
<% end %>

