<%= form_for(@mail_template) do |f| %>
<%= hidden_field_tag 'back_to', back_to %>
<%= f.hidden_field :lock_version %>
  <% if @mail_template.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mail_template.errors.count, "error") %> prohibited this mail_template from being saved:</h2>

      <ul>
      <% @mail_template.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="form_table">

  <tr>
    <th><%= f.label :mail_template_category, getLongName('mail_templates', 'mail_template_category') %></th>
    <td><%= f.text_field :mail_template_category %></td>
  </tr>

  <tr>
    <th><%= f.label :mail_template_name, getLongName('mail_templates', 'mail_template_name') %></th>
    <td><%= f.text_field :mail_template_name %></td>
  </tr>

  <tr>
    <th><%= f.label :mail_cc, getLongName('mail_templates', 'mail_cc') %></th>
    <td><%= f.text_field :mail_cc %></td>
  </tr>

  <tr>
    <th><%= f.label :mail_bcc, getLongName('mail_templates', 'mail_bcc') %></th>
    <td><%= f.text_field :mail_bcc %></td>
  </tr>

  <tr>
    <th><%= f.label :subject, getLongName('mail_templates', 'subject') %></th>
    <td><%= f.text_field :subject, :onFocus => "xtarget = this;" %></td>
  </tr>

  <tr>
    <td colspan=2>
      <%= render :partial => 'delivery_mails/insertcursorlist' %>
      <%= f.text_area :content, :onFocus => "xtarget = this;" %><br/>
      ※ 署名はテンプレート選択時のユーザーの物が自動的に挿入されます
    </td>
  </tr>

</table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
