<%=accordion_around(getLongName('table_name','daily_reports')+"集計", "") do %>

<%= form_tag do %>
  <table class="form_table">
    <tr>
      <th>集計期間</th>
      <td>
        <label><%= radio_button_tag :summary_term_flg, :year, session[:daily_report_summary][:summary_term_flg].nil? || session[:daily_report_summary][:summary_term_flg] == 'year' %> 年次</label>
        <label><%= radio_button_tag :summary_term_flg, :month, session[:daily_report_summary][:summary_term_flg] == 'month' %> 月次</label>
        <label><%= radio_button_tag :summary_term_flg, :day, session[:daily_report_summary][:summary_term_flg] == 'day' %> 日次</label>
      </td>
    </tr>
    <tr>
      <th>対象</th>
      <td>
        <% @target_user.includes(:user).each do |target_user| %>
        <label><%= check_box_tag 'summary_target_flg[]', target_user.user.id, session[:daily_report_summary][:summary_target_flg] != nil && session[:daily_report_summary][:summary_target_flg].include?(target_user.user.id.to_s) %> <%= target_user.user.nickname %></label>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>集計方法</th>
      <td>
        <label><%= radio_button_tag :summary_method_flg, :summary, session[:daily_report_summary][:summary_method_flg].nil? || session[:daily_report_summary][:summary_method_flg] == 'summary' %> 全体</label>
        <label><%= radio_button_tag :summary_method_flg, :individual, session[:daily_report_summary][:summary_method_flg] == 'individual' %> 個別</label>
      </td>
    </tr>
  </table>
  <br/>
  <%= submit_tag '　　検索　　', btn_warning(:name => 'search_button') %> <%= submit_tag '　　クリア　　', btn_default(:name => 'clear_button') %>
  <%= hidden_field nil, :date, :value => @target_date %>
  <br/>
<% end %>
<% end %>

<% unless @target_summary.nil? %>
  <% unless session[:daily_report_summary][:summary_term_flg] == 'year' %>
    <h2><%= h session[:daily_report_summary][:summary_term_flg] == 'month' ? @target_date.split('-')[0] : @target_date %></h2>
    <div class="submit_box">
      <%= link_to('前の' + @target_date_string, {:date => @preview_date, :summary_term_flg => session[:daily_report_summary][:summary_term_flg] ,:summary_target_flg => session[:daily_report_summary][:summary_target_flg], :summary_method_flg => session[:daily_report_summary][:summary_method_flg]}, btn_info) %>
      <%= link_to('次の' + @target_date_string, {:date => @next_date, :summary_term_flg => session[:daily_report_summary][:summary_term_flg] ,:summary_target_flg => session[:daily_report_summary][:summary_target_flg], :summary_method_flg => session[:daily_report_summary][:summary_method_flg]}, btn_info) %>
    </div>
  <% end %>
  <% if session[:daily_report_summary][:summary_method_flg] == 'summary' %>
    <% unless @target_summary.all.count == 0  %>
    <%= content_tag :h3, "全体" %>
    <table class="list_table">
      <tr>
        <th><%= getLongName('daily_reports', 'report_date') %></th>
        <th><%= getLongName('daily_reports', 'succeed_count') %></th>
        <th><%= getLongName('daily_reports', 'gross_profit_count') %></th>
        <th><%= getLongName('daily_reports', 'interview_count') %></th>
        <th><%= getLongName('daily_reports', 'new_meeting_count') %></th>
        <th><%= getLongName('daily_reports', 'exist_meeting_count') %></th>
        <th><%= getLongName('daily_reports', 'send_delivery_mail_count') %></th>
      </tr>
      <% @target_summary.each do |target_daily_report| %>
        <% if session[:daily_report_summary][:summary_term_flg] == 'day' %>
          <tr style="<%= "background-color: lightgrey;" if BaseDate.is_holiday?(target_daily_report["target_date"]) %>">
        <% else %>
          <tr>
        <% end %>
          <td><%= h target_daily_report["target_date"] %></td>
          <td><%= h target_daily_report["succeed_count"].to_i %></td>
          <td><%= h target_daily_report["gross_profit_count"].to_i %></td>
          <td><%= h target_daily_report["interview_count"].to_i %></td>
          <td><%= h target_daily_report["new_meeting_count"].to_i %></td>
          <td><%= h target_daily_report["exist_meeting_count"].to_i %></td>
          <td><%= h target_daily_report["send_delivery_mail_count"].to_i %></td>
        </tr>
      <% end  %>
    </table>
    <% end %>
  <% else  %>
    <% @target_summary_individual.each do |target_summary_individual| %>
      <% unless target_summary_individual[:target_summary_report].nil? || target_summary_individual[:target_summary_report].size == 0 %>
      <%= content_tag :h3, target_summary_individual[:user_name] %>
        <table class="list_table">
          <tr>
            <th><%= getLongName('daily_reports', 'report_date') %></th>
            <th><%= getLongName('daily_reports', 'succeed_count') %></th>
            <th><%= getLongName('daily_reports', 'gross_profit_count') %></th>
            <th><%= getLongName('daily_reports', 'interview_count') %></th>
            <th><%= getLongName('daily_reports', 'new_meeting_count') %></th>
            <th><%= getLongName('daily_reports', 'exist_meeting_count') %></th>
            <th><%= getLongName('daily_reports', 'send_delivery_mail_count') %></th>
            <% if session[:daily_report_summary][:summary_term_flg] == 'day' %>
            <th><%= getLongName('daily_reports', 'contact_matter') %></th>
            <% end %>
          </tr>
        <% target_summary_individual[:target_summary_report].each do |target_daily_report| %>
          <% if session[:daily_report_summary][:summary_term_flg] == 'day' %>
          <tr style="<%= "background-color: lightgrey;" if BaseDate.is_holiday?(target_daily_report["target_date"]) %>">
          <% else %>
          <tr>
          <% end %>
            <td><%= h target_daily_report["target_date"] %></td>
            <td><%= h target_daily_report["succeed_count"].to_i %></td>
            <td><%= h target_daily_report["gross_profit_count"].to_i %></td>
            <td><%= h target_daily_report["interview_count"].to_i %></td>
            <td><%= h target_daily_report["new_meeting_count"].to_i %></td>
            <td><%= h target_daily_report["exist_meeting_count"].to_i %></td>
            <td><%= h target_daily_report["send_delivery_mail_count"].to_i %></td>
            <% if session[:daily_report_summary][:summary_term_flg] == 'day' %>
            <td><%= h target_daily_report["contact_matter"] %></td>
            <% end %>
          </tr>
        <% end %>
        </table>
        <br/>
      <% end %>
    <% end %>
  <% end %>
<% end %>
