<%= form_tag :action => 'update', :id => @analysis_template do %>
  <%= accordion_around(getLongName('table_name','analysis_templates')+"編集", "") do %>
  <!--[form:analysis_template]-->
    <%= render :partial => 'form' %>
  <!--[eoform:analysis_template]-->
  <% end %>

  <% if @mode == 'biz_offer' %>
    <!--[form:analysis_template_item]-->
      <%= render :partial => 'analysis_template_item/form_biz_offer' %>
    <!--[eoform:analysis_template_item]-->
  <% elsif @mode == 'bp_member' %>
    <!--[form:analysis_template_item]-->
      <%= render :partial => 'analysis_template_item/form_bp_member' %>
    <!--[eoform:analysis_template_item]-->
  <% end %>

  <div class="submit_box">
  <%= submit_tag '更新', btn_primary %>
  <%= link_or_back '戻る', :action => 'show', :id => @analysis_template %>
  </div>
<% end %>

