<%= error_messages_for 'sys_config' %>

<p><label for="sys_config_id"><%= getLongName('sys_configs', 'id') %></label><br/>
<%= @sys_config.id || 'none' %></p>

<!--[form:sys_config]-->
<p><label for="sys_config_config_section"><%=getLongName('sys_configs','config_section')%></label><br /><%= text_field 'sys_config', 'config_section'  %></p>
<p><label for="sys_config_config_key"><%=getLongName('sys_configs','config_key')%></label><br /><%= text_field 'sys_config', 'config_key'  %></p>
<p><label for="sys_config_value1"><%=getLongName('sys_configs','value1')%></label><br /><%= text_field 'sys_config', 'value1'  %></p>
<p><label for="sys_config_value2"><%=getLongName('sys_configs','value2')%></label><br /><%= text_field 'sys_config', 'value2'  %></p>
<p><label for="sys_config_value3"><%=getLongName('sys_configs','value3')%></label><br /><%= text_field 'sys_config', 'value3'  %></p>
<p><label for="sys_config_value3"><%=getLongName('sys_configs','config_description_text')%></label><br /><%= text_area 'sys_config', 'config_description_text'  %></p>
<p><%= hidden_field 'sys_config', 'lock_version'  %></p>
<p><%= hidden_field_tag 'back_to', back_to  %></p>
<!--[eoform:sys_config]-->


