<%= form_for(@delivery_mail, :html => {:enctype => 'multipart/form-data'}) do |f| %>
<%= back_to_field_tag %>
<%= f.hidden_field :lock_version %>
  <% if @delivery_mail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@delivery_mail.errors.count, "error") %> prohibited this delivery_mail from being saved:</h2>

      <ul>
      <% @delivery_mail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="show_table">
  <tr>
    <th><label>対象グループ</label></th>
    <td><%= @delivery_mail.bp_pic_group.bp_pic_group_name%></td>
  </tr>
  <tr>
    <th><%= f.label :subject, getLongName('delivery_mails', 'subject') + "(*)" %></th>
    <td><%= f.text_field :subject, :onFocus => "xtarget = this;" %></td>
  </tr>
  <tr>
    <th><%= f.label :mail_from, getLongName('delivery_mails', 'mail_from') %></th>
    <td><%=h (@delivery_mail.formated_mail_from) %></td>
    <%= hidden_field 'delivery_mail', 'mail_from_name' %>
    <%= hidden_field 'delivery_mail', 'mail_from' %>
  </tr>
  <tr>
    <th><%= f.label :mail_cc, getLongName('delivery_mails', 'mail_cc') %></th>
    <td><%= f.text_field :mail_cc %></td>
  </tr>
  <tr>
    <th><%= f.label :mail_bcc, getLongName('delivery_mails', 'mail_bcc') %></th>
    <td><%= f.text_field :mail_bcc %></td>
  </tr>
  <tr>
    <th><label for :attachment1>添付ファイル1</label></th>
    <td><%= file_field_tag :attachment1 %></td>
  </tr>
  <tr>
    <th><label for :attachment2>添付ファイル2</label></th>
    <td><%= file_field_tag :attachment2 %></td>
  </tr>
  <tr>
    <th><label for :attachment3>添付ファイル3</label></th>
    <td><%= file_field_tag :attachment3 %></td>
  </tr>
  <tr>
    <th><label for :attachment4>添付ファイル4</label></th>
    <td><%= file_field_tag :attachment4 %></td>
  </tr>
  <tr>
    <th><label for :attachment5>添付ファイル5</label></th>
    <td><%= file_field_tag :attachment5 %></td>
  </tr>
  <tr>
    <% options = @select_options %>
    <th><%= f.label :planned_setting_at, getLongName('delivery_mails', 'planned_setting_at') %></th>
    <td><%= date_field('delivery_mail', 'planned_setting_at_date') %><%= select "delivery_mail", "planned_setting_at_time", (0..23).to_a, {:include_blank => true} %></td>
  </tr>
  <tr>
    <td colspan="2"><a href='javascript:insertAtCursor(xtarget, "%%bp_pic_name%%");'>担当者名</a>　<a href='javascript:insertAtCursor(xtarget, "%%business_partner_name%%");'>取引先会社名</a><br/>
        <%= f.text_area :content, :style => "width:90%" , :onFocus => "xtarget = this;" %></td>
  </tr>
</table>
  <div class="actions">
    <%= hidden_field_tag 'src_mail_id', @src_mail_id %>
    <%= hidden_field 'delivery_mail', 'bp_pic_group_id' %>
    <%= f.submit(:value => 'メールを作成し、対象者選択へ進む') %> <%= f.submit(:name => 'testmail', :value => 'テストメールを送信する', :confirm => "一旦メールを保存し、送信者宛てにテストメールを送信してこの画面に戻ります。") %>

  </div>
<% end %>
