<%= hidden_field_tag 'source_bp_pic_id', params[:source_bp_pic_id] %>
<%= hidden_field_tag 'source_message_id', params[:source_message_id] %>
<%= hidden_field_tag 'delivery_mail[matching_way_type]', (params[:matching_way_type] || 'other') %>
<%= hidden_field_tag 'delivery_mail[import_mail_match_id]', params[:import_mail_match_id] %>
<%= back_to_field_tag %>
<%= f.hidden_field :lock_version %>
<% if @delivery_mail.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@delivery_mail.errors.count, "error") %> prohibited this delivery_mail from being saved:</h2>

  <ul>
  <% @delivery_mail.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<%= disp_wide_link "テンプレートからメールを作成する", {:controller => :mail_templates, :action => :index, :popup => 1}, :class => "btn btn-info btn-medium" %>
<table class="show_table" style="margin-top: 0em;">
  <%if  @delivery_mail.bp_pic_group %>
  <tr>
    <th><label>対象グループ</label></th>
    <td><%= @delivery_mail.bp_pic_group.bp_pic_group_name%></td>
  </tr>
  <% elsif !@bp_pics.blank? %>
  <% @bp_pics.each do |bp_pic| %>
    <tr>
      <%= content_tag(:th, content_tag(:label, "対象"), :rowspan => @bp_pics.length) if bp_pic.id == @bp_pics[0].id %>
      <td><%= "\"#{bp_pic.business_partner.business_partner_name} #{bp_pic.bp_pic_name}\" <#{bp_pic.email1}>" %></td>
    </tr>
  <% end %>
  <% end %>

  <% if current_user.enable_contract? %>
  <tr>
    <th><label>案件照会</label></th>
    <td>
      <%= text_field_tag 'former_delivery_mail_business_title', @delivery_mail.biz_offer_id.blank? ? "" : get_biz_offer_name.business.business_title, :readonly => true, :style => "background-color: silver;", :size => 30 %>
      <input type=button value='...' onClick="disp_wide('<%=url_for_biz_offer_popup :setBizOffer%>');return false;" />
      <input type=button value='クリア' onClick="clearFmBzOf();return false;" />
      <%= f.hidden_field :biz_offer_id %>
    </td>
  </tr>
  <tr>
    <th><label>人材所属</label></th>
    <td>
      <%= text_field_tag 'former_delivery_mail_bp_member_name', @delivery_mail.bp_member_id.blank? ? "" : get_bp_member_name.human_resource_name, :readonly => true, :style => "background-color: silver;", :size => 30 %>
      <input type=button value='...' onClick="disp_wide('<%=url_for_bp_member_popup :setBpMember%>');return false;" />
      <input type=button value='クリア' onClick="clearFmBpMem();return false;" />
      <%= f.hidden_field :bp_member_id %>
    </td>
  </tr>
  <% end %>

  <tr>
    <th><%= f.label :subject, getLongName('delivery_mails', 'subject') + "(*)" %></th>
    <td><%= f.text_field :subject, :onFocus => "xtarget = this;" %></td>
  </tr>
  <tr>
    <th><%= f.label :mail_from, getLongName('delivery_mails', 'mail_from') %></th>
    <td>
      <% if current_user.advanced_smtp_mode_on? %>
      <%= f.select :formated_mail_from, mail_from_list %>
      <% else %>
      <%= f.label :formated_mail_from, mail_from %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th><%= f.label :mail_cc, getLongName('delivery_mails', 'mail_cc') %></th>
    <td><%= f.text_field :mail_cc %></td>
  </tr>
  <tr>
    <th><%= f.label :mail_bcc, getLongName('delivery_mails', 'mail_bcc') %></th>
    <td><%= f.text_field :mail_bcc %></td>
  </tr>
  <tr>
    <th><%= f.label :payment, "解析用#{getLongName('delivery_mails', 'payment')}(送信されません)" %></th>
    <td class="number_text"><%= f.text_field :payment %>万</td>
  </tr>
  <tr>
    <th><%= f.label :age, "解析用#{getLongName('delivery_mails', 'age')}(送信されません)" %></th>
    <td class="number_text"><%= f.text_field :age %>歳</td>
  </tr>
  <tr>
    <th><label for :attachment1>添付ファイル1</label></th>
    <td><%= file_field_tag :attachment1 %></td>
  </tr>
  <tr>
    <th><label for :attachment2>添付ファイル2</label></th>
    <td><%= file_field_tag :attachment2 %></td>
  </tr>
  <tr>
    <th><label for :attachment3>添付ファイル3</label></th>
    <td><%= file_field_tag :attachment3 %></td>
  </tr>
  <tr>
    <th><label for :attachment4>添付ファイル4</label></th>
    <td><%= file_field_tag :attachment4 %></td>
  </tr>
  <tr>
    <th><label for :attachment5>添付ファイル5</label></th>
    <td><%= file_field_tag :attachment5 %></td>
  </tr>
  <tr>
    <td colspan="2">
      <% if current_user.enable_contract? %>
      <%= render :partial => 'insertcursorlist' %>
      <% end %>
      <%= f.text_area :content, :style => "width:90%" , :onFocus => "xtarget = this;" %>
    </td>
  </tr>
  <% unless @delivery_mail.instant? %>
  <tr>
    <th><%= f.label :planned_setting_at, getLongName('delivery_mails', 'planned_setting_at') %></th>
    <td>
      <%= date_field('delivery_mail', 'planned_setting_at_date') %>
      <%= select :delivery_mail, :planned_setting_at_hour, options_for_select( (0..23).to_a, :selected => Time.now.hour) %>時
      <%= select :delivery_mail, :planned_setting_at_minute, options_for_select( ["00","10","20","30","40", "50"], :selected => (Time.now.min / 10 * 10).to_s) %>分
    </td>
  </tr>
  <% end %>
</table>

<div class="actions">
  <%= hidden_field_tag 'src_mail_id', params[:src_mail_id] %>
  <%= hidden_field 'delivery_mail', 'bp_pic_group_id' %>
  <%= hidden_field_tag 'bp_pic_ids', params[:bp_pic_ids] %>
  <% if @delivery_mail.instant? %>
    <%= f.submit(:value => 'メールを送信する', :class => "btn btn-info btn-medium") %>
  <% else %>
    <%= f.submit(:value => 'メールを作成し、対象者選択へ進む', :class => "btn btn-primary btn-medium") %> <%= f.submit(:name => 'testmail', :value => 'テストメールを送信する', :confirm => "一旦メールを保存し、送信者宛てにテストメールを送信してこの画面に戻ります。", :class => "btn btn-info btn-medium") %>
  <% end %>
</div>

<script type="text/javascript">
<!--

function setMailTemplate(t) {
  $('#delivery_mail_mail_cc')[0].value = t.mail_cc;
  $('#delivery_mail_mail_bcc')[0].value = t.mail_bcc;
  $('#delivery_mail_subject')[0].value = t.subject;
  $('#delivery_mail_content')[0].value = t.content;
}

function updateHidden(){
  var hour = $('#planned_hour').val();
  var min = $('#planned_min').val();
  $('#planned_setting_at_time').val(  )
}

function clearFmBzOf(){
  document.getElementById("delivery_mail_biz_offer_id").value = "";
  document.getElementById("former_delivery_mail_business_title").value = "";
}

function clearFmBpMem(){
  document.getElementById("delivery_mail_bp_member_id").value = "";
  document.getElementById("former_delivery_mail_bp_member_name").value = "";
}

document.setBizOffer = function(biz_offer) {
  document.getElementById("delivery_mail_biz_offer_id").value = biz_offer.biz_offer_id;
  document.getElementById("former_delivery_mail_business_title").value = biz_offer.business_title;
}

document.setBpMember = function(bp_member) {
  document.getElementById("delivery_mail_bp_member_id").value = bp_member.bp_member_id;
  document.getElementById("former_delivery_mail_bp_member_name").value = bp_member.human_resource_name;
}

// -->
</script>
