<% @delivery_mail_targets.each do |delivery_mail_target| %>
  <tr id="target_tr_<%= delivery_mail_target.id %>" class="target_tr">
    <td><%=
      back_to_link delivery_mail_target.bp_pic.business_partner.business_partner_name,
        :controller => :business_partner,
        :action => :show,
        :id => delivery_mail_target.bp_pic.business_partner_id
    %></td>
    <td><%=
      back_to_link delivery_mail_target.bp_pic.usefulname,
        :controller => :bp_pic,
        :action => :show,
        :id => delivery_mail_target.bp_pic_id
    %></td>
    <% if @delivery_mail.mail_status_type == 'unsend' %>
      <td><%=
        back_to_link "削除",
          {:controller => :delivery_mail_targets,
            :action => :destroy,
            :id => delivery_mail_target.id,
            :authenticity_token => form_authenticity_token},
            :method => :delete, :confirm => "このレコードを削除します。よろしいですか？"
      %></td>
    <% else %>
      <td>
        <% delivery_mail_target.reply_mails.each_with_index do |import_mail, idx| %>
          <%= back_to_link "詳細#{idx+1}", :controller => :import_mail, :action => :show, :id => import_mail.id %> 
        <% end %>
      </td>
    <% end %>
  </tr>
<% end %>
