<% if group? %>
  <h1><%= getLongName('table_name','delivery_mails')%> 一覧</h1>
  <%= render 'bp_pic_groups/show_table' %>
<% else %>
  <h1>即席メール 一覧</h1>
<% end %>

  <%= render :partial => 'list' %>

<br />

<% if group? %>
<%= back_to_link getLongName('table_name','delivery_mails') + ' の新規作成', {:controller => :delivery_mails , :action => :new, :id => params[:id] }, :method => :get %> |
<%= link_or_back '戻る', :controller => :bp_pic_groups %>
<% end %>
