<h1><%= getLongName('table_name','delivery_mails')%> 一覧</h1>

<%= render 'bp_pic_groups/show_table' %>

  <%= paginate(@delivery_mails) %>

<table class="list_table">
  <tr>
    <th>ステータス</th>
    <th><%= getLongName('delivery_mails', 'subject') %></th>
    <th><%= getLongName('delivery_mails', 'mail_from') %></th>
    <th>添付</th>
    <th>対象数</th>
    <th>ｴﾗｰ件数</th>
    <th><%= getLongName('delivery_mails', 'planned_setting_at') %></th>
    <th><%= getLongName('delivery_mails', 'send_end_at') %></th>
    <th>取り消し/コピー</th>
  </tr>

<% @delivery_mails.each do |delivery_mail| %>
  <tr class="<%= row_style(delivery_mail) %>" id="tr_<%= delivery_mail.id %>">
    <td style="text-align:center">
      <%= delivery_mail.mail_status_type_name %>
    </td>
    <td><%= back_to_link (delivery_mail.subject.blank? ? '(件名なし)' : delivery_mail.subject) , {:action => :show, :id => delivery_mail.id } %></td>
    <td><%= delivery_mail.formated_mail_from %></td>
    <td style="text-align:center"><%= delivery_mail.attachment_files.first ? "あり" : "なし" %></td>
    <td style="text-align:center"><%= delivery_mail.delivery_mail_targets.count %></td>
    <td style="text-align:center"><%= delivery_mail.delivery_errors.count %></td>
    <td><%= _time(delivery_mail.planned_setting_at) %></td>
    <td><%= _time(delivery_mail.send_end_at) %></td>
    <td>
      <% if delivery_mail.unsend? %>
        <%= back_to_link 'キャンセル', { :action => :cancel, :id => delivery_mail.id, :authenticity_token => form_authenticity_token }, :method => :put, data: { :confirm => 'キャンセルします。よろしいですか?' } %>
      <% else %>
        <%= back_to_link 'コピー', { :action => :copynew, :id => delivery_mail.id}, data: { :confirm => 'このメールを元に再作成します。よろしいですか?' } %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>
  <%= paginate(@delivery_mails) %>

<br />

<%= back_to_link getLongName('table_name','delivery_mails') + ' の新規作成', {:controller => :delivery_mails , :action => :new, :id => params[:id] }, :method => :get %> |
<%= link_or_back '戻る', :controller => :bp_pic_groups %>
