<h1><%= getLongName('table_name','delivery_mails')%> 詳細</h1>

<%= render 'show' %>

<!-- 配信エラー一覧  -->
<% if !@delivery_mail.delivery_errors.empty? %>
<h2><%= getLongName('table_name','delivery_errors')%> 一覧</h2>
<table class="show_table" id="delivery_error">
  <tr>
    <th><%= getLongName('business_partners', 'business_partner_name') %></th>
    <th><%= getLongName('bp_pics', 'bp_pic_name') %></th>
  </tr>
  <% @delivery_mail.delivery_errors.each do |error| %>
    <td><%= back_to_link error.bp_pic.business_partner.business_partner_name,
                         :controller => :business_partner,
                         :action => :show,
                         :id => error.bp_pic.business_partner_id
    %></td>
    <td><%= back_to_link error.bp_pic.usefulname,
                         :controller => :bp_pic,
                         :action => :show,
                         :id => error.bp_pic_id
    %></td>
  <% end %>
</table>
<% end %>

<!-- 配信メール対象一覧  -->
<h2><%= getLongName('table_name','delivery_mail_targets')%> 一覧</h2>

<table class="show_table" id="delivery_mail_target">
  <tr>
    <th><%= getLongName('business_partners', 'business_partner_name') %></th>
    <th><%= getLongName('bp_pics', 'bp_pic_name') %></th>
    <% if @delivery_mail.mail_status_type == 'unsend' %>
      <th>削除</th>
    <% else %>
      <th>返信メール</th>
    <% end %>
  </tr>
    <% @delivery_mail.delivery_mail_targets.each do |delivery_mail_target| %>
      <tr id="table_header">
        <td><%=
          back_to_link delivery_mail_target.bp_pic.business_partner.business_partner_name,
            :controller => :business_partner,
            :action => :show,
            :id => delivery_mail_target.bp_pic.business_partner_id
        %></td>
        <td><%=
          back_to_link delivery_mail_target.bp_pic.usefulname,
            :controller => :bp_pic,
            :action => :show,
            :id => delivery_mail_target.bp_pic_id
        %></td>
        <% if @delivery_mail.mail_status_type == 'unsend' %>
          <td><%=
            back_to_link "削除",
              {:controller => :delivery_mail_targets,
                :action => :destroy,
                :id => delivery_mail_target.id,
                :authenticity_token => form_authenticity_token},
                :method => :delete, :confirm => "このレコードを削除します。よろしいですか？"
          %></td>
        <% else %>
          <td>
            <% if delivery_mail_target.get_import_mail_id != nil %>
              <%=
                back_to_link "詳細",
                :controller => :import_mail,
                :action => :show,
                :id => delivery_mail_target.get_import_mail_id
              %>
            <% else %>
              &nbsp;
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
</table>

<% if @delivery_mail.unsend? %>
  <%= back_to_link '編集', {:action => :edit, :id => @delivery_mail.id} %> |
<% end %>
<%= link_or_back '戻る', {:action => :index, :id => @delivery_mail.bp_pic_group_id} %>

