
<!-- マッチング候補一覧  -->
<% if @delivery_mail.delivery_mail_matches.exists? %>
  <% @import_mails = @delivery_mail.filtered_matches.take(10) %>
<h2>マッチング候補</h2>
<%= render :partial => 'import_mail/list' %>
<% end %>

<!-- 配信メール詳細 -->
<%= accordion_around(getLongName('table_name','delivery_mails'), "") do %>
  <%= link_to "メールマッチングを開始する", {:controller => :delivery_mails, :action => :start_matching, :id => @delivery_mail, :back_to => back_to}, :class => "btn btn-info btn-medium" %>
  <%= render 'show' %>
<% end %>

<!-- 添付ファイル一覧  -->
<% if !@attachment_files.blank? %>
  <h2>添付ファイル一覧</h2>
  <%= render :partial => 'attachment_file/list' %>
<% end %>

<!-- 配信エラー一覧  -->
<% if !@delivery_mail.delivery_errors.empty? %>
<h2><%= getLongName('table_name','delivery_errors')%> 一覧</h2>
<table class="list_table table-bordered table-hover" id="delivery_error">
  <tr>
    <th><%= getLongName('business_partners', 'business_partner_name') %></th>
    <th><%= getLongName('bp_pics', 'bp_pic_name') %></th>
  </tr>
  <% @delivery_mail.delivery_errors.each do |error| %>
  <tr>
    <td><%= back_to_link error.bp_pic.business_partner.business_partner_name,
                         :controller => :business_partner,
                         :action => :show,
                         :id => error.bp_pic.business_partner_id
    %></td>
    <td><%= back_to_link error.bp_pic.usefulname,
                         :controller => :bp_pic,
                         :action => :show,
                         :id => error.bp_pic_id
    %></td>
  </tr>
  <% end %>
</table>
<% end %>

<!-- 配信メール対象一覧  -->
<h2><%= getLongName('table_name','delivery_mail_targets')%> 一覧</h2>
<table class="list_table table-bordered table-hover" id="delivery_mail_target">
  <tr>
    <th><%= getLongName('business_partners', 'business_partner_name') %></th>
    <th><%= getLongName('bp_pics', 'bp_pic_name') %></th>
    <% if @delivery_mail.mail_status_type == 'unsend' %>
      <th>削除</th>
    <% else %>
      <th>返信メール</th>
    <% end %>
  </tr>
  <%= render :partial => 'show_line' %>
</table>
<div class="submit_box" id="spinner">
  <%= link_to 'もっと見る...', {:controller => :delivery_mails, :action => :show_all, :id => @delivery_mail}, :'data-type' => :html, :remote => true, :id => :show_all, :style=>"width: 100%; margin-top: -13px;", :class=> "btn btn-default" %>
</div>

<div class="submit_box">
<% if @delivery_mail.unsend? %>
  <%= back_to_link '編集', {:action => :edit, :id => @delivery_mail.id}, btn_primary %>
<% end %>
<%= link_or_back '戻る', {:action => :index, :id => @delivery_mail.bp_pic_group_id} %>
</div>

<script type="text/javascript">
<!--
$(function() {
  var spinner = null;
  var target = document.getElementById('spinner');
  $('#show_all').on('ajax:before', function(){
      var opts = {
          lines: 11, // The number of lines to draw
          length: 4, // The length of each line
          width: 3, // The line thickness
          radius: 8, // The radius of the inner circle
          corners: 1, // Corner roundness (0..1)
          rotate: 0, // The rotation offset
          direction: 1, // 1: clockwise, -1: counterclockwise
          color: '#000', // #rgb or #rrggbb or array of colors
          speed: 1, // Rounds per second
          trail: 60, // Afterglow percentage
          shadow: false, // Whether to render a shadow
          hwaccel: false, // Whether to use hardware acceleration
          className: 'spinner', // The CSS class to assign to the spinner
          zIndex: 2e9, // The z-index (defaults to 2000000000)
          top: '50%', // Top position relative to parent
          left: '50%' // Left position relative to parent
      };
      spinner = new Spinner(opts).spin(target);
  });
  $('#show_all').on('ajax:success', function(data, res, xhr){
      spinner.stop();
      $('#delivery_mail_target .target_tr').remove();
      $('#delivery_mail_target tbody').append(res);
      $('#show_all').hide();
  });
});
-->
</script>
