<table class="show_table">
<tr>
  <th>下流<%= getLongName('business_partners', 'sales_code') %></th><td><%=h @bp_member.business_partner.sales_code %></td>
</tr>
<tr>
  <th>下流<%= getLongName('business_partners', 'business_partner_name') %></th><td><%=h back_to_link(@bp_member.business_partner.business_partner_short_name, controller: :business_partner, action: :show, id: @bp_member.business_partner.id) %></td>
</tr>
<tr>
  <th>下流<%= getLongName('bp_pics', 'bp_pic_name') %></th><td><%=h @bp_member.bp_pic.blank? ? "" : back_to_link(@bp_member.bp_pic.bp_pic_name, controller: :bp_pic, action: :show, id: @bp_member.bp_pic.id) %></td>
</tr>
<tr>
  <th><%= getLongName('bp_members', 'employment_type') %></th><td><%=h @bp_member.employment_type_name %></td>
</tr>
<tr>
  <th><%= getLongName('bp_members', 'reprint_flg') %></th>
  <td><%=h (@bp_member.reprint_flg == 1 ? "可" : "不可" ) %></td>
</tr>
<tr>
  <th><%= getLongName('bp_members', 'can_start_date') %></th><td><%=h @bp_member.can_start_date %></td>
</tr>
<tr>
  <th><%= getLongName('bp_members', 'can_start_date_memo') %></th><td><%=h @bp_member.can_start_date_memo %></td>
</tr>
<tr>
  <th><%= getLongName('bp_members', 'race_condition') %></th><td><%=h @bp_member.race_condition %></td>
</tr>
<tr>
  <th><%= getLongName('bp_members', 'payment_memo') %></th><td><%=h @bp_member.payment_memo %></td>
</tr>
<tr>
  <th><%= getLongName('bp_members', 'payment_min') %></th><td><%=h((@bp_member.payment_min.blank? || @bp_member.payment_min == 0) ? "" : "#{@bp_member.payment_min_view}万円") %></td>
</tr>
<tr>
  <th><%= getLongName('bp_members', 'time_adjust_term') %></th><td><%=h @bp_member.time_adjust_term %></td>
</tr>
<tr>
  <th><%= getLongName('bp_members', 'memo') %></th><td><%=simple_format h(@bp_member.memo) %></td>
</tr>
<tr>
  <th><%= getLongName('bp_members', 'created_at') %></th><td><%= _time_long(@bp_member.created_at) %></td>
</tr>
<tr>
  <th><%= getLongName('bp_members', 'created_user') %></th><td><%= get_nickname(@bp_member.created_user) %></td>
</tr>
<tr>
  <th><%= getLongName('bp_members', 'updated_at') %></th><td><%= _time_long(@bp_member.updated_at) %></td>
</tr>
<tr>
  <th><%= getLongName('bp_members', 'updated_user') %></th><td><%= get_nickname(@bp_member.updated_user) %></td>
</tr>
</table>
