<div class="row-fluid" id='input_form'>

  <div class="span12">
    <%= content_tag :h2, @business_partner.business_partner_name %>
    <button class="btn btn-success" type="button" onclick='getNextBP(<%= @business_partner.id %>, <%= params[:page] %>)'>次の企業</button>
    <button class="btn btn-danger" type="button" onclick='finishConfirm()'>入力終了</button>
    <!-- </div> -->

    <%= form_tag({controller: 'business_partner', action: 'update_quick_input'}, class: "form-inline") do %>
      <fieldset>
        <legend>企業情報入力</legend>
        <%= hidden_field 'business_partner', 'id' %>
        <label><%=getLongName('business_partners','establishment_year') + ': '%></label>
        <%= text_field 'business_partner', 'establishment_year', placeholder: getLongName('business_partners','establishment_year') %>
        <label><%=getLongName('business_partners','employee_number') + ': '%></label>
        <%= text_field 'business_partner', 'employee_number', placeholder: getLongName('business_partners','employee_number') %>
        <label><%=getLongName('business_partners','share_capital') + ': '%></label>
        <%= text_field 'business_partner', 'share_capital', placeholder: getLongName('business_partners','share_capital') %>
        <label><%=getLongName('business_partners','email') + ': '%></label>
        <%= text_field 'business_partner', 'email', placeholder: getLongName('business_partners','email') %>
        <%= hidden_field_tag 'back_to', request_url %>
        <br/>
        <%= submit_tag '更新', class: "btn btn-success", confirm: @business_partner.business_partner_name + 'の情報を更新します。よろしいですか？' %>
      </fieldset>
    <% end %>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <% if @business_partner.url.blank? %>
      <!-- <script type="text/javascript">alert('取引先URLが入力されていません。')</script> -->
    <% end %>
    <iframe id='iframe_bp' src="<%= @business_partner.url %>" width=100% >このブラウザは対応していません。</iframe>
  </div>
</div>

<script type="text/javascript">
  function getNextBP(id, page, url) {
    // 新しい取引先を取得して再描画
    location.href = 'next_bp?popup=1&page=' + page + '&business_partner_id=' + id
  }
</script>