<h1><%=getLongName('table_name','business_partners')%>一覧</h1>

<%= form_tag_popup_mode do %>
<table>
  <tr>
    <th style="text-align: right">コード(営業|取引|販管):</th>
    <td><%= text_field_tag 'sales_code', session[:business_partner_search] && session[:business_partner_search][:sales_code], :size => 60 %>　</td>
  </tr>
  <tr>
    <th style="text-align: right">取引先名（カナ）:</th>
    <td><%= text_field_tag 'business_partner_name', session[:business_partner_search] && session[:business_partner_search][:business_partner_name], :size => 60 %></td>
  </tr>
  <% if !popup? %>
    <tr>
      <td style="text-align: right">フラグ:</td>
      <td colspan = 3>
        <%= check_box_tag 'self_flg', 1, session[:business_partner_search][:self_flg].to_i == 1 %> 自社　
      </td>
    </tr>
  <% end %>
</table>
<%= hidden_field_tag :flg, params[:flg] %>
<%= hidden_field_tag :mail, params[:mail] %>
<p><%= submit_tag '　　検索　　', :name => 'search_button' %> <%= submit_tag '　　クリア　　', :name => 'clear_button' %></p>
<br />
<% end %>

<%= paginate(@business_partners) %>

<table class="list_table">
  <tr>
    <th><%=getShortName('business_partners', 'sales_code') %></th>
    <th><%=getShortName('business_partners', 'business_partner_code') %></th>
    <th><%=getShortName('business_partners', 'business_partner_name') %></th>
    <th><%=getShortName('business_partners', 'basic_contract_first_party_status_type') %></th>
    <th><%=getShortName('business_partners', 'basic_contract_second_party_status_type') %></th>
    <th><%=getShortName('business_partners', 'self_flg') %></th>
  </tr>
  
<% for business_partner in @business_partners %>
  <tr>
    <th><%=h business_partner.sales_code %></th>
    <td><%=h business_partner.business_partner_code %></td>
<% if popup? %>
  <% if params[:flg]=='eu' %>
    <td><%= star_links(business_partner) %> <%= link_to h(business_partner.business_partner_name), '#', :onClick => "setEuBpToParentWindow(#{business_partner.id},'#{j business_partner.business_partner_name}');return false;" %></td>
  <% else %>
    <td><%= star_links(business_partner) %> <%= link_to h(business_partner.business_partner_short_name), '#', :onClick => %Q|setBpToParentWindowFull(#{business_partner.id},'#{j business_partner.business_partner_code}','#{j business_partner.sales_management_code}','#{j business_partner.business_partner_name}','#{j business_partner.business_partner_short_name}','#{j business_partner.business_partner_name_kana}','#{j business_partner.business_partner_name_en}','#{j business_partner.sales_status_type}','#{j business_partner.ceo_name}','#{j business_partner.url}','#{j business_partner.zip}','#{j business_partner.address1}','#{j business_partner.address2}','#{j business_partner.tel}','#{j business_partner.fax}','#{j business_partner.email}','#{j business_partner.category}', '#{j business_partner.establishment_year}', '#{j business_partner.employee_number}', '#{j business_partner.share_capital}','#{business_partner.self_flg}','#{j business_partner.memo}');return false;| %></td>
  <% end %>
<% else %>
    <td><%= star_links(business_partner) %> <%=back_to_link h(business_partner.business_partner_short_name), :action => :show, :id => business_partner %></td>
<% end %>
    <td style="text-align:center;"><%= get_basic_contract_first_party_status_type_text(business_partner) %></td>
    <td style="text-align:center;"><%= get_basic_contract_second_party_status_type_text(business_partner) %></td>
    <td><%=h business_partner.self_flg %></td>
  </tr>
<% end %>
</table>
<%= paginate(@business_partners) %>

<% unless popup? %>
<br />
<%= link_to (getLongName('table_name','business_partners')+'/'+getLongName('table_name','bp_pics')+'の新規作成'), :action => 'new', :flg => params[:flg], :back_to => request.env['REQUEST_URI'] %>
<br>
<br>
<%= form_tag ({:action => 'download_csv'}) do %>
  <%= submit_tag '担当者のリストをエクスポート', :confirm => "すべての担当者のリストをエクスポートします。よろしいですか？" %>
<% end %>
<%= form_tag({:action => 'upload_csv'} , {:multipart => true}) do %>
  <%= hidden_field_tag 'back_to', request_url %>
  <p>担当者のリストをインポート</p>  
  <%= file_field_tag 'csv_upload_file' %><%= submit_tag 'インポート', :onclick => "if($('#csv_upload_file').val()==''){alert('ファイルを選択してください');return false;}else{if(!confirm('リストをインポートします。よろしいですか？')){return false;}}" %>
<% end %>
<%= form_tag({:action => 'upload_google_csv'} , {:multipart => true}) do %>
  <%= hidden_field_tag 'back_to', request_url %>
  <p>Googleアカウントより担当者のリストをインポート</p>  
  <%= file_field_tag 'google_csv_upload_file' %><%= submit_tag 'インポート', :onclick => "if($('#google_csv_upload_file').val()==''){alert('ファイルを選択してください');return false;}else if($('#parson_in_charge').val()==''){alert('担当者を選択してください');return false;}else{if(!confirm('リストをインポートします。よろしいですか？')){return false;}}" %>
<% end %>
<% end %>
<% if popup? %>
<script type="text/javascript">
<!--
function setBpToParentWindow(business_partner_id, business_partner_name) {
  if(window.opener.document.setBp){
    var bp = new Object();
    bp.id = business_partner_id;
    bp.business_partner_name = business_partner_name;
    window.opener.document.setBp(bp);
  }
  window.close();
}

function setEuBpToParentWindow(business_partner_id, business_partner_name) {
  if(window.opener.document.setEuBp){
    var bp = new Object();
    bp.id = business_partner_id;
    bp.business_partner_name = business_partner_name;
    window.opener.document.setEuBp(bp);
  }
  window.close();
}

function setBpToParentWindowFull(business_partner_id, business_partner_code, sales_management_code, business_partner_name, business_partner_short_name, business_partner_name_kana, business_partner_name_en, sales_status_type, ceo_name, url, zip, address1, address2, tel, fax, email, category, establishment_year, employee_number, share_capital, self_flg, memo) {
  if(window.opener.document.setBpFull){
    var bp = new Object();
    
    bp.id = business_partner_id;
    bp.business_partner_code = business_partner_code;
    bp.sales_management_code = sales_management_code;
    bp.business_partner_name = business_partner_name;
    bp.business_partner_short_name = business_partner_short_name;
    bp.business_partner_name_kana = business_partner_name_kana;
    bp.business_partner_name_en = business_partner_name_en;
    bp.sales_status_type = sales_status_type;
    bp.ceo_name = ceo_name;
    bp.url = url;
    bp.zip = zip;
    bp.address1 = address1;
    bp.address2 = address2;
    bp.tel = tel;
    bp.fax = fax;
    bp.email = email;
    bp.category = category;
    bp.establishment_year = establishment_year;
    bp.employee_number = employee_number;
    bp.share_capital = share_capital;
    bp.self_flg = self_flg;
    bp.memo = memo;
    
    window.opener.document.setBpFull(bp);
  }
  window.close();
}

// -->
</script>
<% end # if popup? %>
