<h1><%= @business_partner.business_partner_code_name %>詳細</h1>

<%= link_to "取引先のメール一覧", :controller => :import_mail, :action => :list, :id => @business_partner %>

<%= render :partial => 'show_table' %>

<%= back_to_link '編集', :action => 'edit', :id => @business_partner %> |
<%= link_or_back '戻る', :action => 'list' %>

  <p></p>
  <h2><%=getLongName('table_name','bp_pics')%>一覧</h2>
<% if !@bp_pics.blank? %>
  <%= render :partial => 'bp_pic/list' %>
<% end %>
<%= back_to_link (getLongName('table_name','bp_pics')+'を追加'), :controller => :bp_pic, :action => 'new', :business_partner_id => @business_partner %>

<% if !@businesses.blank? %>
  <p></p>
  <h2><%=getLongName('table_name','businesses')%>一覧</h2>
  <%= render :partial => 'business/list', :locals => {:businesses => @businesses} %>
<% end %>

<% if !@biz_offers.blank? %>
  <p></p>
  <h2><%=getLongName('table_name','biz_offers')%>一覧</h2>
  <%= render :partial => 'biz_offer/list', :locals => {:biz_offers => @biz_offers} %>
<% end %>

<% if !@bp_members.blank? %>
  <p></p>
  <h2><%=getLongName('table_name','bp_members')%>一覧</h2>
  <%= render :partial => 'bp_member/list', :locals => {:bp_members => @bp_members} %>
<% end %>

<%= render :partial => 'remarks/list', :locals => {:remark_key => "business_partners", :remark_target_id => @business_partner} %>
