<h1><%=getLongName('table_name','biz_offers')%>一覧</h1>

<%= form_tag_popup_mode do %>
<table>
  <tr>
    <th style="text-align: right">上流取引先：</th>
    <td><%= text_field_tag 'business_partner_name', search_value_biz_offer(:business_partner_name), size: 60 %></td>
  </tr>
  <tr>
    <th style="text-align: right">上流担当者：</th>
    <td><%= text_field_tag 'bp_pic_name', search_value_biz_offer(:bp_pic_name) %></td>
  </tr>
  <tr>
    <th style="text-align: right">スキル：</th>
    <td><%= text_field_tag 'skill_tag', search_value_biz_offer(:skill_tag) %></td>
  </tr>
  <tr>
    <th style="text-align: right">単価上限：</th>
    <td class="bounds_input"><%= text_field_tag 'payment_from', search_value_biz_offer(:payment_from) %>万 ～ <%= text_field_tag 'payment_to', search_value_biz_offer(:payment_to) %>万</td>
  </tr>
  <tr>
    <th style="text-align: right">照会ステータス：</th>
    <td><%= select_tag 'biz_offer_status_type', options_for_select([[]] + getTypes('biz_offer_status_type'), search_value_biz_offer(:biz_offer_status_type)) %></td>
  </tr>
  <tr>
    <th style="text-align: right">JIET:</th>
    <td class="jiet_radio">
      <%= radio_button_tag 'jiet', "0", search_value_biz_offer(:jiet) == "0" %> どちらも
      <%= radio_button_tag 'jiet', "1", search_value_biz_offer(:jiet) == "1" %> JIET以外
      <%= radio_button_tag 'jiet', "2", search_value_biz_offer(:jiet) == "2" %> JIETのみ
    </td>
  </tr>
</table>
<p><%= submit_tag '　　検索　　', :name => 'search_button' %> <%= submit_tag '　　クリア　　', :name => 'clear_button' %></p>
<br />
<% end %>

<%= paginate(@biz_offers) %>

<%= render :partial => 'list', :locals => {:biz_offers => @biz_offers} %>

<%= paginate(@biz_offers) %>

<br />

<% if popup? %>
  <%= back_to_link_popup_mode (getLongName('table_name','biz_offers')+'の新規作成'), :action => 'new' %>
<% else %>
  <%= back_to_link (getLongName('table_name','biz_offers')+'の新規作成'), :action => 'new' %>
<% end %>


<script type="text/javascript">
  <!--
  function setBizOffer(biz_offer_id, business_title) {
    if(window.opener.document.setBizOffer){
      var biz_offer = new Object();
      biz_offer.biz_offer_id = biz_offer_id;
      biz_offer.business_title = business_title;
      window.opener.document.setBizOffer(biz_offer);
    }
    window.close();
  }

  // -->
</script>