<h1><%=getLongName('table_name','biz_offers')%>一覧</h1>

<%= form_tag_popup_mode do %>
<table>
  <tr>
    <th style="text-align: right">上流取引先：</th>
    <td><%= text_field_tag 'business_partner_name', search_value_biz_offer(:business_partner_name), size: 20 %></td>
  </tr>
  <tr>
    <th style="text-align: right">上流担当者：</th>
    <td><%= text_field_tag 'bp_pic_name', search_value_biz_offer(:bp_pic_name), size: 20 %></td>
  </tr>
  <tr>
    <th style="text-align: right">スキル：</th>
    <td><%= text_field_tag 'skill_tag', search_value_biz_offer(:skill_tag), size: 60 %></td>
  </tr>
  <tr>
    <th style="text-align: right">単価上限：</th>
    <td><%= text_field_tag 'payment_max', search_value_biz_offer(:payment_max), size: 60 %>万円以下</td>
  </tr>
  <tr>
    <th style="text-align: right">案件ステータス：</th>
    <td><%= select_tag 'business_status_type', options_for_select([[]] + getTypes('business_status_type'), search_value_biz_offer(:business_status_type)) %></td>
  </tr>
  <tr>
    <th style="text-align: right">照会ステータス：</th>
    <td><%= select_tag 'biz_offer_status_type', options_for_select([[]] + getTypes('biz_offer_status_type'), search_value_biz_offer(:biz_offer_status_type)) %></td>
  </tr>
  <tr>
    <th style="text-align: right">JIET：</th>
    <td><%= check_box_tag 'jiet', ImportMailJIET::JIET_FLG, !search_value_biz_offer(:jiet).blank? %></td>
  </tr>
</table>
<p><%= submit_tag '　　検索　　', :name => 'search_button' %> <%= submit_tag '　　クリア　　', :name => 'clear_button' %></p>
<br />
<% end %>

<%= paginate(@biz_offers) %>

<table class="list_table">
  <tr>
    <th>上流取引先</th>
    <th>上流担当者</th>
    <th><%=getShortName('businesses', 'business_title') %></th>
    <th><%=getShortName('businesses', 'skill_tag') %></th>
    <th><%=getShortName('businesses', 'age_limit') %></th>
    <th><%=getShortName('biz_offers', 'payment_text') %></th>
    <th><%=getShortName('businesses', 'place') %></th>
    <th><%=getShortName('businesses', 'issue_datetime') %></th>
    <th><%=getShortName('businesses', 'business_status_type') %></th>
    <th><%=getShortName('biz_offers', 'biz_offer_status_type') %></th>
    <th><%=getShortName('bp_pics', 'jiet') %></th>
    <th style="width:16px;"></th>
  </tr>
  
<% for biz_offer in @biz_offers %>
  <tr>
    <td><%=h biz_offer.business_partner.blank? ? "" : back_to_link(biz_offer.business_partner.business_partner_code_name,controller: :business_partner, action: :show, id: biz_offer.business_partner.id) %></td>
    <td><%=h biz_offer.bp_pic.blank? ? "" : back_to_link(biz_offer.bp_pic.bp_pic_name, controller: :bp_pic, action: :show, id: biz_offer.bp_pic.id) %></td>
    <td><%= star_links(biz_offer.business) %> <%=back_to_link h(biz_offer.business.business_title), :action => :show, :id => biz_offer %></td>
    <td><div style="overflow: hidden;height:1.4em"><span style="line-height: 90%;"><%= raw format_only_major_tags(biz_offer.business.skill_tag, @major_words) %></span></div></td>
    <td><%=h biz_offer.business.age_limit %></td>
    <td><%=h biz_offer.payment_text %></td>
    <td><%=h biz_offer.business.place %></td>
    <td><%=h _time(biz_offer.business.issue_datetime) %></td>
    <td><%=h biz_offer.business.business_status_type_name %></td>
    <td><%=h biz_offer.biz_offer_status_type_name %></td>
    <td><%= biz_offer.bp_pic.jiet == ImportMailJIET::JIET_FLG ? 'JIET' : ''%></td>
    <td style="text-align:center;"><%= biz_offer_edit_icon(biz_offer) %></td>
  </tr>
<% end %>
</table>

<%= paginate(@biz_offers) %>

<br />

<%= back_to_link (getLongName('table_name','biz_offers')+'の新規作成'), :action => 'new' %>
