<%# 変数 column_names, item_value_map, table_name %>
  <% column_names.each do |column_name|
    item = item_value_map.nil? ? AnalysisTemplateItem.new : (item_value_map["#{table_name}.#{column_name[0]}"].nil? ? AnalysisTemplateItem.new : item_value_map["#{table_name}.#{column_name[0]}"]) %>
    <tr>
      <td><%= column_name[1] %>(<%= column_name[0] %>)</td>
      <td><%= text_field_tag "analysis_template_item_#{table_name}_#{column_name[0]}_analysis_template_item_name", item.analysis_template_item_name %></td>
      <td><%= text_field_tag "analysis_template_item_#{table_name}_#{column_name[0]}_pattern", item.pattern %></td>
      <td><%= check_box_tag "analysis_template_item_#{table_name}_#{column_name[0]}_ignore_flg", 1, (item.ignore_flg == 1), :title => "改行無視フラグ" %></td>
    </tr>
    <%= hidden_field_tag "analysis_template_item_#{table_name}_#{column_name[0]}_target_column_name", column_name[0] %>
  <% end %>
