<%= content_tag :h1, getLongName('table_name', 'outflow_mails') + " 一覧" %>
<p>
  <br/>
    <input type=button value='会社チェック' onClick="disp_full('<%=url_for_outflow_mail_input_popup%>');return false;" />
  <br/>
</p>

<table class="list_table" style="margin-top:0px">
  <tr>
    <th colspan="5">流出メールアドレス一覧</th>
  </tr>

  <% @outflow_mails.each do |outflow_mail| %>
  <tr>
    <td><%= outflow_mail.email_text %></td>
    <td><%= outflow_mail.outflow_mail_status_type_name %></td>
    <td><%= link_to h(outflow_mail.url), outflow_mail.url, target: '_blank' %></td>
    <td><%= back_to_link getbusinesspartnername(outflow_mail.business_partner_id), {:controller => :business_partner ,:action => :show, :id => outflow_mail.business_partner_id}, {:class => 'business_partner_name'} %></td>
    <td><%=back_to_link getbppicname(outflow_mail.bp_pic_id), {:controller => :bp_pic ,:action => :show, :id => outflow_mail.bp_pic_id}, {:class => 'bp_pic_name'} %></td>
    </td>
  </tr>
  <% end %>

</table>