<%= form_for(@bp_pic_group) do |f| %>
<%= back_to_field_tag %>
<% source_group_id = params[:src_id] %>
<%= hidden_field_tag('src_id', source_group_id) unless source_group_id.nil? %>
<%= f.hidden_field :lock_version %>
  <% if @bp_pic_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bp_pic_group.errors.count, "error") %> prohibited this bp_pic_group from being saved:</h2>

      <ul>
      <% @bp_pic_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="show_table">
  <tr>
    <th><%= f.label :bp_pic_group_name, getLongName('bp_pic_groups', 'bp_pic_group_name') %>(*)</th>
    <td><%= f.text_field :bp_pic_group_name %></td>
  </tr>
  <tr>
    <th><label for="former_bp_pic_group_mail_template_id">メールテンプレート</label></th>
    <td>
      <%= text_field_tag 'former_bp_pic_group_mail_template_name', @bp_pic_group.mail_template_id.blank? ? "" : get_mail_template_name.mail_template_name, :readOnly => true, :style => "background-color: silver;", :size => 30 %>
      <input type=button value='...' onClick="disp_wide('<%=url_for_mail_template_popup :setMailTemplate%>');return false;" />
      <input type=button value='クリア' onClick="clearFmBpPic();return false;" />
      <%= f.hidden_field :mail_template_id %>
    </td>
  </tr>
  <tr>
    <th><%= f.label :memo, getLongName('bp_pic_groups', 'memo') %></th>
    <td><%= f.text_area :memo %></td>
  </tr>
</table>
  <div class="actions">
    <%= f.submit %>
  </div>



<script type="text/javascript">
<!--

  function clearFmBpPic(){
  document.getElementById("bp_pic_group_mail_template_id").value = "";
  document.getElementById("former_bp_pic_group_mail_template_name").value = "";
  }

  function setMailTemplate(mail_template) {
    document.getElementById("bp_pic_group_mail_template_id").value = mail_template.id;
    document.getElementById("former_bp_pic_group_mail_template_name").value = mail_template.mail_template_name;
  }
// -->
</script>
<% end %>
