<a name="top"></a>
<% if @delivery_mail %>
  <h1><%= getLongName('table_name','delivery_mails')%> 確認</h1>

  <%= render 'delivery_mails/show' %>
  <p></p>
  <%= back_to_link 'メールの内容を再編集する', edit_delivery_mail_path(@delivery_mail) %>

  <h1><%= @bp_pic_group.bp_pic_group_name %>のメンバーを選択してください。</h1>
<% else %>
  <h1><%= getLongName('table_name','bp_pic_groups')%> 確認</h1>
  <%= render 'bp_pic_groups/show_table' %>
  <%= back_to_link 'グループ名とメモの編集', {:action => :edit, :id => @bp_pic_group.id} %> |
  <%= link_to 'グループをコピー', {action: :new, src_id: @bp_pic_group.id, back_to: back_to} %> |
  <%= link_to 'グループを削除', {:action => :destroy, :id => @bp_pic_group.id, :authenticity_token => form_authenticity_token}, method: :delete, data: { confirm: '削除します。よろしいですか?' } %> |
  <%= link_or_back '戻る', bp_pic_groups_path %>
  <hr />
<% end %>


<% unless @delivery_mail %>
<div>
  <%= form_tag(url_for(:controller => :bp_pic_group_details, :action => :create), :method => :post) do %>
    <table class="show_table">
        <tr>
        <th><label for="business_partner_name">取引先</label></th><td><%= text_field_tag 'business_partner_name', "", :readonly => true, :style => "background-color: silver;", :size => 30 %>
        </tr>
        <tr>
        <th><label for="bp_pic_name">取引先担当</label></th><td><%= text_field_tag 'bp_pic_name', "", :readonly => true, :style => "background-color: silver;", :size => 30 %>
            <input type=button value='...' onClick="disp_wide('<%=url_for_bp_pic_popup%>');return false;" />
            <input type=button value='クリア' onClick="clearBpPic();return false;" />
            <%= hidden_field 'bp_pic_group_detail', 'bp_pic_id' %></td>
        </tr>
    </table>
    <%= hidden_field_tag 'bp_pic_group_detail[bp_pic_group_id]', @bp_pic_group.id %>
    <%= hidden_field_tag 'back_to', request.url  %>
    <%= submit_tag "取引先担当を追加", :id => "submit_bp_pic_group_detail", :disabled => "disabled" %>
  <% end %>
  <input type="hidden" id="business_partner_id" />
</div>
<% end %>

<% if @delivery_mail %>
  <p><%= button_tag "全てのチェックをはずす", type: 'button', onclick: '$(".mail_status_check_box").attr("checked", false)' %></P>
<% end %>
<div>
  <%= form_tag url_for_bp_pic_list(@delivery_mail), :method => :post do %>
    <%= send_buttons %>
    <table class="show_table" style="margin-top:2px;">
      <tr>
        <th style="width:1%"></th>
        <th><%= getLongName('business_partners', 'business_partner_name') %></th>
        <th><%= getLongName('bp_pics', 'bp_pic_name') %></th>
        <th><%= getLongName('bp_pics', 'memo') %></th>
        <th style="width:1%">状態</th>
      </tr>
      <% @bp_pic_group.bp_pic_group_details.each do | detail | %>
        <tr id="<%= "tr_#{detail.id}"%>" style="background-color:<%= suspended_color(detail) %>">
          <td>
            <% if @delivery_mail %>
              <%= check_box_tag 'bp_pic_ids[]', detail.bp_pic_id, !(detail.suspended? || detail.nondelivery? || !detail.working?), { class: 'mail_status_check_box', onchange: "changeSendFlag(#{detail.id}, this.checked)" } %>
            <% else %>
              <%= check_box_tag 'ids[]', detail.id, false, style: 'margin-top: 0;margin-left: 5px;margin-right: 16px;' %>
            <% end %>
          </td>
          <td><%= star_links(detail.bp_pic.business_partner) %> <%= back_to_link detail.bp_pic.business_partner.business_partner_name, :controller => :business_partner, :action => :show, :id => detail.bp_pic.business_partner_id %></td>
          <td><%= star_links(detail.bp_pic) %> <%= back_to_link "#{detail.bp_pic.usefulname} #{"(" + getLongType('working_status', detail.bp_pic.working_status) + ")" unless detail.bp_pic.working?} <#{detail.bp_pic.email1}>", :controller => :bp_pic, :action => :show, :id => detail.bp_pic_id %></td>
          <td><%= detail.bp_pic.memo%></td>
          <td><span class='<%= "status_#{detail.id}" %>'><%= link_to "", {:controller => :bp_pic_group_details, :action => :suspend, :id => detail, :authenticity_token => form_authenticity_token}, :remote => true, :method => :put, :class => (detail.suspended? ? "status_toggle off" : "status_toggle on") %></span></td>
        </tr>
      <% end %>
    </table>
    <%= send_buttons %>
  <% end %>
<div><a href="#top">ページトップ</a></div>
<%= link_or_back '戻る', bp_pic_groups_path %>
</div>
<script type="text/javascript">
<!--

function changeStatus(id, status){
  target_row = $('#tr_' + id);
  target_link = $('.status_' + id + ' a');
  target_checkbox = $('#tr_' + id + " td:first-child input");
  switch(status){
    case 'on' : 
      target_row.css('background-color', '<%=suspended_colors[0]%>');
      <% if @delivery_mail %>
      target_checkbox.prop('checked', true);
      <% end %>
      break;
    case 'off' : 
      target_row.css('background-color', '<%=suspended_colors[1]%>');
      <% if @delivery_mail %>
      target_checkbox.prop('checked', false);
      <% end %>
      break;
    default :
      return;
  }
  target_link.attr('class', 'status_toggle ' + status);
  changeSendFlag(id, target_checkbox.prop('checked'));
}

function changeSendFlag(id, check){
<% if @delivery_mail %>
  if(check){
    $('#tr_' + id).addClass('is_send_target')
  }else{
    $('#tr_' + id).removeClass('is_send_target')
  }
<% end %>
}

document.setBpPic = function(bp_pic){
    document.getElementById("business_partner_name").value = bp_pic.business_partner_name;
    document.getElementById("bp_pic_group_detail_bp_pic_id").value = bp_pic.id;
    document.getElementById("bp_pic_name").value = bp_pic.bp_pic_name;

    if(bp_pic.id != "" ){
      $("#submit_bp_pic_group_detail").removeAttr("disabled");
    }
}

function clearBpPic(){
    document.getElementById("business_partner_name").value = "";
    document.getElementById("bp_pic_group_detail_bp_pic_id").value = "";
    document.getElementById("bp_pic_name").value = "";

    $("#submit_bp_pic_group_detail").attr("disabled", "disabled");
}

// -->
</script>

