<% unless @bp_pic.working? || session[:msgids].to_s.split(",").include?("taishoku") %>
<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert" onclick="fixmessage('<%=url_for(:controller => :users, :action => :fixmessage, :id => 'taishoku', :authenticity_token => form_authenticity_token)%>')">&times;</button>
  <h4>注意!</h4>
  <p>
    ※「後任者登録」リンクをクリックすると、後任者を新規登録します。<br/>
    　既に登録済みの担当者を後任に指定したい場合は、「編集」リンクをクリックして編集画面から指定してください。<br/>
  </p>
</div>
<% end %>

<% unless @photos.blank? %>
  <%= link_to_function '写真の表示', '$("#photo_table").toggle()' %>
  <div id="photo_table" style="display:none;">
  <%= (square_table @photos, :col => 4 do |photo| get_photo_thumbnail_link(photo) end).html_safe %>
  </div>
<% end %>
<table class="show_table">
<tr>
  <th><%= getLongName('business_partners', 'business_partner_name') %></th><td><%=link_to @bp_pic.business_partner.business_partner_name, :controller => :business_partner, :action => :show, :id => @bp_pic.business_partner_id %></td>
</tr>
<tr>
  <th><%= getLongName('bp_pics', 'bp_pic_name') %></th><td><%=h @bp_pic.bp_pic_name %></td>
</tr>
<tr>
  <th><%= getLongName('bp_pics', 'bp_pic_short_name') %></th><td><%=h @bp_pic.bp_pic_short_name %></td>
</tr>
<tr>
  <th><%= getLongName('bp_pics', 'bp_pic_name_kana') %></th><td><%=h @bp_pic.bp_pic_name_kana %></td>
</tr>
<tr>
  <th><%= getLongName('bp_pics', 'depertment') %></th><td><%=h @bp_pic.depertment %></td>
</tr>
<tr>
  <th><%= getLongName('bp_pics', 'position') %></th><td><%=h @bp_pic.position %></td>
</tr>
<tr>
  <th><%= getLongName('bp_pics', 'tel_direct') %></th><td><%=h @bp_pic.tel_direct %></td>
</tr>
<tr>
  <th><%= getLongName('bp_pics', 'tel_mobile') %></th><td><%=h @bp_pic.tel_mobile %></td>
</tr>
<tr>
  <th><%= getLongName('bp_pics', 'email1') %></th><td><%=h @bp_pic.email1 %></td>
</tr>
<tr>
  <th><%= getLongName('bp_pics', 'email2') %></th><td><%=h @bp_pic.email2 %></td>
</tr>
<tr>
  <th><%= getLongName('bp_pics', 'contact_date') %></th><td><%=@bp_pic.contact_date %></td>
</tr>
<tr>
  <th><%= getLongName('bp_pics', 'sales_pic_id') %></th><td><%=@bp_pic.sales_pic_name %></td>
</tr>
<tr>
  <th><%= getLongName('bp_pics', 'contact_mail_flg') %></th><td><%=@bp_pic.contact_mail_status %><% if @bp_pic.sales_pic %> (<%= back_to_link @bp_pic.contact_mail_flg == 1 ? "即席メールを送る " : "あいさつメールを送る", :controller => :delivery_mails, :action => :contact_mail_new, :bp_pic_ids => [@bp_pic.id] %>)<% end %></td>
</tr>
<tr>
  <th><%= getLongName('bp_pics', 'nondelivery_score') %></th><td><%=@bp_pic.nondelivery_score %><%= @bp_pic.nondelivery? ? '(メール停止)' : '' %></td>
</tr>
<tr>
  <th><%= getLongName('bp_pics', 'working_status_type') %></th><td><%= @bp_pic.working_status_type_name %>(<% links = working_status_type_links_show(@bp_pic) %><%= links[0] %>|<%= links[1] %>)</td>
</tr>
<% unless @former_bp_pic.blank? %>
<tr>
  <th>前職取引先名</th><td><%=link_to @former_bp_pic.business_partner_name, :controller => :business_partner, :action => :show, :id => @former_bp_pic.business_partner_id %></td>
</tr>
<tr>
  <th>前職取引先担当名</th><td><%=link_to @former_bp_pic.bp_pic_name, :controller => :bp_pic, :action => :show, :id => @former_bp_pic.id %></td>
</tr>
<% end %>
<tr>
  <th><%= getLongName('bp_pics', 'jiet') %></th><td><%=@bp_pic.jiet? ? 'JIET' : '' %></td>
</tr>
<tr>
  <th><%= getLongName('bp_pics', 'memo') %></th><td><%=simple_format(h @bp_pic.memo) %></td>
</tr>
</table>
<%= back_to_link '編集', :action => 'edit', :id => @bp_pic %> |
<%= delete_to '削除', @bp_pic %> |
<%= link_or_back '戻る', :action => 'list' %>

<h3>取引先担当グループ一覧</h3>
<% unless @bp_pic_groups_details.blank? %>
  <table class="show_table">
    <tr>
      <th><%= getLongName('bp_pic_groups', 'bp_pic_group_name') %></th>
      <th><%= getLongName('bp_pic_groups', 'memo') %></th>
    </tr>
    <% @bp_pic_groups_details.each do |bp_pic_group_detail| %>
      <tr>
        <td><%= link_to bp_pic_group_detail.bp_pic_group.bp_pic_group_name , {:controller => 'bp_pic_groups', :action => 'show', :id => bp_pic_group_detail.bp_pic_group.id} %></td>
        <td><%= bp_pic_group_detail.bp_pic_group.memo %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= render :partial => 'remarks/list', :locals => {:remark_key => "bp_pics", :remark_target_id => @bp_pic} %>
<h3>送信メール一覧</h3>
<%= render :partial => 'delivery_mails/list' %>

