<% unless @bp_pic.working? || session[:msgids].to_s.split(",").include?("taishoku") %>
<div class="alert alert-block">
  <button type="button" class="close" data-dismiss="alert" onclick="fixmessage('<%=url_for(:controller => :user, :action => :fixmessage, :id => 'taishoku', :authenticity_token => form_authenticity_token)%>')">&times;</button>
  <h4>注意!</h4>
  <p>
    ※「後任者登録」リンクをクリックすると、後任者を新規登録します。<br/>
    　既に登録済みの担当者を後任に指定したい場合は、「編集」リンクをクリックして編集画面から指定してください。<br/>
  </p>
</div>
<% end %>

<%= accordion_around "担当者", "" do %>
  <% if @photos && photo = @photos.shift %>
    <div id="top_photo" class="panel panel-default" style="display:inilne; position: absolute; right: 100px; top: 40px;">
      <div style="text-align: center" class="panel-body">
        <div>
          <i class="glyphicon glyphicon-user"></i> <%= photo.photo_sender %> <%= _timetoddmmhhmm(photo.created_at) %><br>
          <%= link_to image_tag(url_for :controller => 'photos', :action => 'get_image', :id => photo, :tn => 1), {:controller => :photos, :action => :preview, :id => photo, :popup => 1}, :target => "_blank"  %>
        </div>
        <div class="btn-group btn-group-xs" style="margin-bottom:10px">
          <%= back_to_link((content_tag :i, "", :class => "glyphicon glyphicon-remove-circle"), {:controller => :bp_pic, :action => :update_photo_unlink, :photo_id => photo.id}, btn_primary(:title => "写真の登録を解除する")) %>
          <%= back_to_link((content_tag :i, "", :class => "glyphicon glyphicon-repeat"), url_for_rotate_photo(photo.id, false, 'bp_pic'), btn_primary(:title => "写真を右転する")) %>
        </div>
      </div>
    </div>
  <% end %>
<table class="show_table">
<tr><th>スター</th><td><%= star_radios(@bp_pic.starred, @bp_pic) %></td></tr>
<tr>
  <th><%= getLongName('business_partners', 'business_partner_name') %></th><td><%= star_links(@bp_pic.business_partner) %> <%=link_to @bp_pic.business_partner.business_partner_name, :controller => :business_partner, :action => :show, :id => @bp_pic.business_partner_id %></td>
</tr>
<tr>
  <th><%= getLongName('bp_pics', 'bp_pic_name') %></th><td><%=h @bp_pic.bp_pic_name %></td>
</tr>
<tr>
  <th><%= getLongName('bp_pics', 'bp_pic_short_name') %></th><td><%=h @bp_pic.bp_pic_short_name %></td>
</tr>
<tr>
  <th><%= getLongName('bp_pics', 'bp_pic_name_kana') %></th><td><%=h @bp_pic.bp_pic_name_kana %></td>
</tr>
<tr>
  <th><%= getLongName('bp_pics', 'depertment') %></th><td><%=h @bp_pic.depertment %></td>
</tr>
<tr>
  <th><%= getLongName('bp_pics', 'position') %></th><td><%=h @bp_pic.position %></td>
</tr>
<tr>
  <th><%= getLongName('bp_pics', 'tel_direct') %></th><td><%=h @bp_pic.tel_direct %></td>
</tr>
<tr>
  <th><%= getLongName('bp_pics', 'tel_mobile') %></th><td><%=h @bp_pic.tel_mobile %></td>
</tr>
<tr>
  <th><%= getLongName('bp_pics', 'email1') %></th><td><%=h @bp_pic.email1 %></td>
</tr>
<tr>
  <th><%= getLongName('bp_pics', 'email2') %></th><td><%=h @bp_pic.email2 %></td>
</tr>
<tr>
  <th><%= getLongName('bp_pics', 'contact_date') %></th><td><%=@bp_pic.contact_date %></td>
</tr>
<tr>
  <th><%= getLongName('bp_pics', 'sales_pic_id') %></th><td><%=@bp_pic.sales_pic_name %></td>
</tr>
<tr>
  <th><%= getLongName('bp_pics', 'contact_mail_flg') %></th><td><%=@bp_pic.contact_mail_status %>(<%= back_to_link @bp_pic.contact_mail_flg == 1 ? "即席メールを送る " : "あいさつメールを送る", :controller => :delivery_mails, :action => :contact_mail_new, :bp_pic_ids => [@bp_pic.id] %>)</td>
</tr>
<tr>
  <th><%= getLongName('bp_pics', 'nondelivery_score') %></th><td><%=@bp_pic.nondelivery_score %><%= @bp_pic.nondelivery? ? '(メール停止)' : '' %></td>
</tr>
<tr>
  <th><%= getLongName('bp_pics', 'working_status_type') %></th><td><%= @bp_pic.working_status_type_name %> <% working_status_type_links_show(@bp_pic).each{|x| %> <%= x %><% } %></td>
</tr>
<% unless @former_bp_pic.blank? %>
<tr>
  <th>前職取引先名</th><td><%=link_to @former_bp_pic.business_partner_name, :controller => :business_partner, :action => :show, :id => @former_bp_pic.business_partner_id %></td>
</tr>
<tr>
  <th>前職取引先担当名</th><td><%=link_to @former_bp_pic.bp_pic_name, :controller => :bp_pic, :action => :show, :id => @former_bp_pic.id %></td>
</tr>
<% end %>
<% if current_user.enable_jiet? %>
<tr>
  <th><%= getLongName('bp_pics', 'jiet') %></th><td><%=@bp_pic.jiet? ? 'JIET' : '' %></td>
</tr>
<% end %>
<tr>
  <th><%= getLongName('bp_pics', 'plural_flg') %></th><td><%=@bp_pic.plural? ? '複数件' : '' %></td>
</tr>
<tr>
  <th><%= getLongName('bp_pics', 'memo') %></th><td><%=simple_format(h @bp_pic.memo) %></td>
</tr>
<tr>
  <th><%= getLongName('bp_pics', 'created_at') %></th><td><%= _time_long(@bp_pic.created_at) %></td>
</tr>
<tr>
  <th><%= getLongName('bp_pics', 'created_user') %></th><td><%= get_nickname(@bp_pic.created_user) %></td>
</tr>
<tr>
  <th><%= getLongName('bp_pics', 'updated_at') %></th><td><%= _time_long(@bp_pic.updated_at) %></td>
</tr>
<tr>
  <th><%= getLongName('bp_pics', 'updated_user') %></th><td><%= get_nickname(@bp_pic.updated_user) %></td>
</tr>
</table>
<% end %><%# accordion_around %>
<div class="submit_box">
  <%= back_to_link '編集', {:action => 'edit', :id => @bp_pic}, btn_primary %>
  <%= delete_to '削除', @bp_pic, 'destroy', btn_primary%>
  <%= link_or_back '戻る', :action => 'list' %>
</div>

<% if @photos && !@photos.empty? %>
  <%= accordion_around_h2 "その他の写真", "p", @photos.blank? do %>
    <div id="photo_table">
      <%= square_table @photos, {:col => 4}, {:class => "photo_table"} do |photo| %>
        <div class="panel panel-default">
        <div class="panel-body">
          <div>
          <i class="glyphicon glyphicon-user"></i> <%= photo.photo_sender %> <%= _timetoddmmhhmm(photo.created_at) %><br>
          <%= link_to image_tag(url_for :controller => 'photos', :action => 'get_image', :id => photo, :tn => 1), {:controller => :photos, :action => :preview, :id => photo, :popup => 1}, :target => "_blank"  %>
        </div>
          <div class="btn-group btn-group-xs" style="margin-bottom:10px">
            <%= back_to_link((content_tag :i, "", :class => "glyphicon glyphicon-remove-circle"), {:controller => :bp_pic, :action => :update_photo_unlink, :photo_id => photo.id}, btn_primary(:title => "写真の登録を解除する")) %>
            <%= back_to_link((content_tag :i, "", :class => "glyphicon glyphicon-repeat"), url_for_rotate_photo(photo.id, false, 'bp_pic'), btn_primary(:title => "写真を右転する")) %>
          </div>
        </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= accordion_around_h2 "取引先担当グループ一覧", "2", @bp_pic_groups_details.blank? do %>
<% unless @bp_pic_groups_details.blank? %>
  <table class="list_table table-bordered table-hover">
    <tr>
      <th><%= getLongName('bp_pic_groups', 'bp_pic_group_name') %></th>
      <th><%= getLongName('bp_pic_groups', 'memo') %></th>
    </tr>
    <% @bp_pic_groups_details.each do |bp_pic_group_detail| %>
      <tr>
        <td><%= link_to bp_pic_group_detail.bp_pic_group.bp_pic_group_name , {:controller => 'bp_pic_groups', :action => 'show', :id => bp_pic_group_detail.bp_pic_group.id} %></td>
        <td><%= bp_pic_group_detail.bp_pic_group.memo %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<% end %>

<%= accordion_around_h2("コメント一覧", "3", @remarks.empty?) do %>
  <%= render :partial => 'remarks/list' %>
<% end %>
<div class="submit_box">
  <%= back_to_link('コメント追加', new_remark_path({:remark_key => "bp_pics", :remark_target_id => @bp_pic.id}), {:class => "btn btn-info btn-medium"}) %>
</div>

<%= accordion_around_h2("送信メール一覧", "4", @delivery_mails.empty?) do %>
  <%= render :partial => 'delivery_mails/list' %>
<% end %>
