<table class="list_table">
  <tr>
    <th colspan="9">取り込みメール一覧</th>
  </tr>
<% for import_mail in @import_mails %>
  <tr <%= "bgcolor=lightgray" unless import_mail.wanted? %> id="tr_<%= import_mail.id %>">
    <td style="overflow: hidden">
      <div class="overflow_hidden" style="width:20em;">
        <div style="width:1000px;"><%= import_mail.bp_pic_id.blank? ? "" : star_links(import_mail.bp_pic) %> <%= import_mail.bp_pic_id.blank? ? import_mail.mail_sender_name : link_to_bp_detail(import_mail) %></div>
      </div>
    </td>
    <td style="overflow: hidden">
      <div class="overflow_hidden">
        <% if import_mail.outflow_mail_flg == 1 %>
        <%= button_to '流出', {:controller => :outflow_mail, :action => :list, :import_mail_id => import_mail.id}, {class: 'btn btn-danger btn-mini',style: 'line-height:14px;'}  %>
        <% end %>
        <%= star_links import_mail %> <%= link_to_detail(import_mail, request_url) %>
      </div>
    </td>
    <td>
      <div style="overflow: hidden;height:1.4em"><span style="line-height: 90%;"><%= raw format_only_major_tags(import_mail.tag_text, @major_words) %></span></div>
    </td>
    <td><div style="width:2.5em"><%=import_mail.payment_text %></div></td>
    <td><div style="width:2.5em"><%=_age(import_mail.age_text) %></div></td>
    <td style="overflow: hidden;">
      <div style="overflow: hidden;width:3em">
        <div rel="station_name" style="width:1000px;" title="<%=import_mail.nearest_station%>"><%= import_mail.nearest_station_short %></div>
      </div>
    </td>
    <td><%=h _time(import_mail.received_at) %></td>
    <td align=center><%=raw '<span title="添付ファイルあり">○</span>' if import_mail.attachment? %></td>
    <td class='flag_container'>
      <%= build_flag_link("案", :biz_offer, :biz_offer_flg, import_mail) %>|<%= build_flag_link("人", :bp_member, :bp_member_flg, import_mail) %>|<%= build_flag_link("不", :unwanted, :unwanted, import_mail) %>
    </td>
    
  </tr>
<% end %>
</table>
