<%= accordion_around(getLongName('table_name','import_mails')+"一覧", "") do %>
<%= form_tag do %>
<table class="form_table">
    <tr>
      <th><i class="fa fa-angle-double-right "></i>フラグ</th>
      <td>
        <label>
          <%= check_box_tag 'biz_offer_flg', 1, session[:import_mail_search][:biz_offer_flg].to_i == 1 %> 案件
        </label>
        <label>
          <%= check_box_tag 'bp_member_flg', 1, session[:import_mail_search][:bp_member_flg].to_i == 1 %> 人材
        </label>
        <label>
          <%= check_box_tag 'unwanted', 1, session[:import_mail_search][:unwanted].to_i == 1 %> 不要
        </label>
        <label>
          <%= check_box_tag 'registed', 1, session[:import_mail_search][:registed].to_i == 1 %> 登録済み
        </label>
        <label>
          <%= check_box_tag 'proper_flg', 1, session[:import_mail_search][:proper_flg].to_i == 1 %> プロパー
        </label>
        <label>
          <%= check_box_tag 'starred', 1, session[:import_mail_search][:starred].to_i == 1 %> スター
        </label>
        <% if current_user.enable_outflow_mail? %>
        <label>
          <%= check_box_tag 'outflow_mail_flg', 1, session[:import_mail_search][:outflow_mail_flg].to_i == 1 %> 流出メール
        </label>
        <% end %>
        <label>
          <%= check_box_tag 'interview_count_one', 1, session[:import_mail_search][:interview_count_one].to_i == 1 %> 面談1回
        </label>
      </td>
    </tr>
    <tr>
      <th><i class="fa fa-angle-double-right "></i>タグ</th>
      <td><%= text_field_tag 'tag', session[:import_mail_search][:tag]%>
        <%= verygood_tags %>
      </td>
    </tr>
    <tr>
      <th><i class="fa fa-angle-double-right "></i>単価</th>
      <td class="bounds_input">
        <%= text_field_tag 'payment_from', session[:import_mail_search][:payment_from]%>万 ～
        <%= text_field_tag 'payment_to', session[:import_mail_search][:payment_to]%>万
      </td>
    </tr>
    <tr>
      <th><i class="fa fa-angle-double-right "></i>年齢</th>
      <td class="bounds_input">
        <%= text_field_tag 'age_from', session[:import_mail_search][:age_from]%>歳 ～
        <%= text_field_tag 'age_to', session[:import_mail_search][:age_to]%>歳
      </td>
    </tr>
    <tr>
      <th><i class="fa fa-angle-double-right "></i>フリーワード</th>
      <td>
        <%= text_field_tag 'free_word', session[:import_mail_search][:free_word]%>
      </td>
    </tr>
    <tr>
      <th><i class="fa fa-angle-double-right "></i>国籍</th>
      <td>
        <label>
          <%= radio_button_tag 'foreign_type', '', session[:import_mail_search][:foreign_type] == '' %> どちらも
        </label>
        <label>
          <%= radio_button_tag 'foreign_type', 'internal', session[:import_mail_search][:foreign_type] == 'internal' %> 外国籍以外(不可)
        </label>
        <label>
          <%= radio_button_tag 'foreign_type', 'foreign', session[:import_mail_search][:foreign_type] == 'foreign' %> 外国籍(可)
        </label>
      </td>
    </tr>
    <tr>
      <th><i class="fa fa-angle-double-right "></i>性別</th>
      <td>
        <label>
          <%= radio_button_tag 'sex_type', '', session[:import_mail_search][:sex_type] == '' %> 不問 
        </label>
        <label>
          <%= radio_button_tag 'sex_type', 'man', session[:import_mail_search][:sex_type] == 'man' %> 男性
        </label>
        <label>
          <%= radio_button_tag 'sex_type', 'woman', session[:import_mail_search][:sex_type] == 'woman' %> 女性 
        </label>
      </td>
    </tr>
    <tr>
      <th><i class="fa fa-angle-double-right "></i>対象日数</th>
      <td>
        <%= select_tag 'days', options_for_select((1..4).to_a + (1..6).to_a.map{|x| x*5}.push("無制限"), (session[:import_mail_search][:days] || 5))%>
      </td>
    </tr>
    <tr>
      <th><i class="fa fa-angle-double-right "></i>並び順</th>
      <td>
        <%= select_tag 'order_by', options_for_select(order_select_conditions, (session[:import_mail_search][:order_by]))%>
      </td>
    </tr>
    <tr>
      <th colspan="2">
        <%= submit_tag '　　検索　　', btn_warning(:name => 'search_button') %> <%= submit_tag '　　クリア　　', btn_default(:name => 'clear_button') %>
      </th>
    </tr>
</table>
<% end %>
<% end %>

<%= paginate_far(@import_mails) %>

<% unless session[:msgids].to_s.split(",").include?("123") %>
<div class="alert alert-block">
 <button type="button" class="close" data-dismiss="alert" onclick="fixmessage('<%=url_for(:controller => :user, :action => :fixmessage, :id => '123', :authenticity_token => form_authenticity_token)%>')">&times;</button>
 <h4>注意!</h4>
 <p>
   ※案件、人材フラグが黒文字になっているメールは、既に案件、人材として登録されているものです。<br/>
   ※案件が登録されているメールは、案件フラグを変更できません。<br/>
   ※人材が登録されているメールは、人材フラグを変更できません。
 </p>
</div>
<% end %>

<%= render :partial => 'list' %>

<%= paginate_far(@import_mails) %>

<br />

<% if Rails.env == "development" %>
<%= link_to_import_api('取り込み') %> |
<%= link_to_analyze_tags_api('タグ解析') %>
<% end %>


