<h1><%=getLongName('table_name','import_mails')%>一覧</h1>
<%= form_tag do %>
<table>
    <tr>
      <td style="text-align: right">フラグ:</td>
      <td>
        <%= check_box_tag 'biz_offer_flg', 1, session[:import_mail_search][:biz_offer_flg].to_i == 1 %> 案件
        <%= check_box_tag 'bp_member_flg', 1, session[:import_mail_search][:bp_member_flg].to_i == 1 %> 人材
        <%= check_box_tag 'unwanted', 1, session[:import_mail_search][:unwanted].to_i == 1 %> 不要
        <%= check_box_tag 'registed', 1, session[:import_mail_search][:registed].to_i == 1 %> 登録済み
      </td>
    </tr>
</table>
<br/>
<%= submit_tag '　　検索　　', :name => 'search_button' %> <%= submit_tag '　　クリア　　', :name => 'clear_button' %>
<% end %>

<%= paginate(@import_mails) %>
<% unless session[:msgids].to_s.split(",").include?("123") %>
<div class="alert alert-block">
 <button type="button" class="close" data-dismiss="alert" onclick="fixmessage('<%=url_for(:controller => :users, :action => :fixmessage, :id => '123', :authenticity_token => form_authenticity_token)%>')">&times;</button>
 <h4>注意!</h4>
 <p>
   ※案件、人材フラグが黒文字になっているメールは、既に案件、人材として登録されているものです。<br/>
   ※案件が登録されているメールは、案件フラグを変更できません。<br/>
   ※人材が登録されているメールは、人材フラグを変更できません。
 </p>
</div>
<% end %>
<table class="list_table">
  <tr>
    <th colspan=9>取り込みメール一覧</th>
  </tr>
<% for import_mail in @import_mails %>
  <tr <%= "bgcolor=lightgray" unless import_mail.wanted? %> id="tr_<%= import_mail.id %>">
    <td>
      <%=h import_mail.id %></td>
    <td style="overflow: hidden">
      <div style="overflow: hidden;height:1.5em;width:20em">
        <div style="width:1000px;"><%= import_mail.bp_pic_id.blank? ? "" : star_links(import_mail.bp_pic) %> <%= import_mail.bp_pic_id.blank? ? import_mail.mail_sender_name : link_to_bp_detail(import_mail) %></div>
      </div>
    </td>
    <td>
      <div style="overflow: hidden;height:1.5em;"><%= link_to_detail(import_mail, request_url) %></div>
    </td>
    <td>
      <div style="overflow: hidden;height:1.5em;"><%= raw format_only_major_tags(import_mail.tag_text, @major_words) %></div>
    </td>
    <td><div style="width:2.5em"><%=import_mail.payment_text %></div></td>
    <td><div style="width:2.5em"><%=import_mail.age_text %></div></td>
    <td><%=h _time(import_mail.received_at) %></td>
    <td align=center><%=raw '<span title="添付ファイルあり">○</span>' if import_mail.attachment? %></td>
    <td class='flag_container'>
      <%= build_flag_link("案", :biz_offer, :biz_offer_flg, import_mail) %>|<%= build_flag_link("人", :bp_member, :bp_member_flg, import_mail) %>|<%= build_flag_link("不", :unwanted, :unwanted, import_mail) %>
    </td>
    
  </tr>
<% end %>
</table>

<%= paginate(@import_mails) %>

<br />

<% if Rails.env == "development" %>
<%= link_to_import_api('取り込み') %> |
<%= link_to_analyze_tags_api('タグ解析') %>
<% end %>
<script type="text/javascript">
<!--
var registered = "registered"
var flagged_up = "flagged_up"
var ajax_url = '<%= url_for(:controller => :import_mail, :action => :change_flg) %>';

function changeFlg(import_mail_id, type){
  // AJAX処理開始
  jQuery.ajax({
    url: ajax_url + '?import_mail_id=' + import_mail_id + '&type=' + type,
    success: function(data, dataType){
      // 不要フラグの取得
      var unwanted = ( data.unwanted == 1 )
      // 不要フラグによって行の色を変更
      var bgcolor = 'white'
      if ( unwanted ) { bgcolor = 'lightgray'; }
      $("#tr_" + import_mail_id)[0].style.backgroundColor = bgcolor
      
      // フラグの列挙
      flags = [ "biz_offer", "bp_member", "unwanted" ];
      
      // それぞれのフラグについて繰り返す
      for( i = 0; flags.length > i; i++ ){
        // フラグを表す要素を取得する
        var jq = $("#" + flags[i] + "_icon_" + import_mail_id); // jQueryオブジェクト
        var element = jq[0]; // HTMLElement
        
        // 要素のスタイルを変更
        // 案件、人材を登録済みの場合は変更しない
        if( !jq.hasClass( registered ) ){
          // フラグが立っていればクラスを追加、立っていなければクラスを除去
          if( data[ flags[i] ] == 1 ){
            jq.addClass( flagged_up )
          }else{
            jq.removeClass( flagged_up )
          }
        }
      }
      
    }
  });
  return false;
}

// -->
</script>



