
<% if @import_mail.auto_match_biz_offer_mails.exists? %>
<% @import_mails = @import_mail.auto_match_biz_offer_mails.map{|x| matched_import_mail(x, x.biz_offer_mail)} %>
<%= accordion_around_h2("自動マッチング候補案件メール一覧", "biz", @import_mails.empty?) do %>
  <%= render :partial => 'import_mail/list' %>
<% end %>
<% end %>
<% if @import_mail.auto_match_bp_member_mails.exists? %>
<% @import_mails = @import_mail.auto_match_bp_member_mails.map{|x| matched_import_mail(x, x.bp_member_mail)} %>
<%= accordion_around_h2("自動マッチング候補人材メール一覧", "bp", @import_mails.empty?) do %>
  <%= render :partial => 'import_mail/list' %>
<% end %>
<% end %>
<% if @import_mail.delivery_mail_matches.exists? %>
<% @delivery_mails = @import_mail.delivery_mail_matches.map{|x| x.delivery_mail} %>
<%= accordion_around_h2("マッチング候補メール一覧", "mm", @delivery_mails.empty?) do %>
  <%= render :partial => 'delivery_mails/list' %>
<% end %>
<% end %>
<% if !@biz_offers.blank? %>
  <%= accordion_around_h2(getLongName('table_name','biz_offers')+"一覧", "biz", @biz_offers.empty?) do %>
    <%= render :partial => 'biz_offer/list', :locals => {:biz_offers => @biz_offers} %>
  <% end %>
<% end %>

<% if !@bp_members.blank? %>
  <%= accordion_around_h2(getLongName('table_name','bp_members')+"一覧", "bpm", @bp_members.empty?) do %>
    <%= render :partial => 'bp_member/list', :locals => {:bp_members => @bp_members} %>
  <% end %>
<% end %>

<%= accordion_around("取り込みメール詳細", "") do %>
<% if current_user.enable_contract? %>
<%= link_to_biz_create "案件照会作成", @import_mail  %>
<%= link_to_hresource_create "人材所属作成", @import_mail  %>
<% end %>
<% if !@import_mail.business_partner_id %>
  <%= link_to_bp_create "取引先/取引先担当作成", @import_mail %>
<% elsif !@import_mail.bp_pic_id %>
  <%= link_to_bp_pic_create "取引先担当作成", @import_mail %>
<% end %>

<%= back_to_link("このメールに返信する",
                 { :controller           => :delivery_mails,
                   :action               => :reply_mail_new,
                   :import_mail_id       => @import_mail.id,
                   :import_mail_match_id => params[:import_mail_match_id],
                   :matching_way_type    => params[:matching_way_type] },
                 btn_primary(@import_mail.bp_pic ? {} : :onclick => "alert('メールに返信するためには、担当者登録が必要です。先に担当者登録を行ってください。');return false;")) %>

<% if mm = mail_match_target %>
  <% if DeliveryMailMatch.matched?(mm.id, @import_mail.id) %>
    <button class="btn btn-warning btn-medium">マッチング候補</button>
  <% else %>
    <!-- for Modal Popup -->
    <div id="addMatchingModal" style="display: none;background: #eeeeee;border-radius: 5px;-webkit-border-radius: 5px;padding:5px;">
    <%= form_tag({:controller => :delivery_mails, :action => :add_matching, :id => @import_mail, :back_to => back_to}, {:method => :put}) do %>
      <p>メッセージがあればどうぞ。</p>
      <%= text_field_tag 'msg' %>
      <div style="float: right; margin-top: 12px;">
        <%= submit_tag '　　追加　　', :name => "add_group_button" %>
        <%= submit_tag 'キャンセル', :onclick => "return false;", :class => "modal_close" %>
      </div>
    <% end %><%# form_tag %>
    </div>
    <%= link_to "マッチング候補に追加", "#addMatchingModal", :rel => "addMatchingModal", :class => "btn btn-info btn-medium" %>
  <% end %>
<% end %>

<table class="show_table">
  <tr>
    <th>メール種別</th>
    <td class='flag_container'>
      <span class="btn btn-default btn-xs"><%= build_flag_link("案件", :biz_offer, :biz_offer_flg, @import_mail) %></span><span class="btn btn-default btn-xs"><%= build_flag_link("人材", :bp_member, :bp_member_flg, @import_mail) %></span><span class="btn btn-default btn-xs"><%= build_flag_link("その他", :unwanted, :unwanted, @import_mail) %></span>
    </td>
  <tr><th>スター</th><td><%= star_radios(@import_mail.starred, @import_mail) %></td></tr>
  <tr>
    <th><label for="bp_pic_plural_flg"><%=getLongName('bp_pics','plural_flg')%></label></th>
    <td>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default btn-xs<%=@import_mail.plural? ? "" : " active" %>">
          <%= radio_button_tag("plural_flg_#{@import_mail.id}", "0", !@import_mail.plural?, :post_url => url_for(:controller => :import_mail, :action => :change_plural, :id => @import_mail), :class => "plural_radio") %>OFF
        </label>
        <label class="btn btn-default btn-xs<%=@import_mail.plural? ? " active" : "" %>">
          <%= radio_button_tag("plural_flg_#{@import_mail.id}", "1", @import_mail.plural?, :post_url => url_for(:controller => :import_mail, :action => :change_plural, :id => @import_mail), :class => "plural_radio") %>ON
        </label>
    </div>
    </td>
  </tr>
<% if @import_mail.business_partner %>
  <tr>
    <th><%= getLongName('import_mails', 'business_partner_id') %></th><td><%= star_links(@import_mail.business_partner) %> <%=link_to @import_mail.business_partner.business_partner_name, :controller => :business_partner, :action => :show, :id => @import_mail.business_partner_id %></td>
  </tr>
<% end %>
<% if @import_mail.bp_pic %>
  <tr>
    <th><%= getLongName('import_mails', 'bp_pic_id') %></th><td><%= star_links(@import_mail.bp_pic) %> <%=link_to @import_mail.bp_pic.bp_pic_name, :controller => :bp_pic, :action => :show, :id => @import_mail.bp_pic_id %></td>
  </tr>
<% end %>
  <tr>
    <th><%= getLongName('import_mails', 'mail_sender_name') %></th><td><%=h @import_mail.mail_sender_name %></td>
  </tr>
  <tr>
    <th><%= getLongName('import_mails', 'mail_to') %></th><td><%=h @import_mail.mail_to %></td>
  </tr>
  <tr>
    <th><%= getLongName('import_mails', 'mail_cc') %></th><td><%=h @import_mail.mail_cc %></td>
  </tr>
  <tr>
    <th><%= getLongName('import_mails', 'mail_bcc') %></th><td><%=h @import_mail.mail_bcc %></td>
  </tr>
  <tr>
    <th><%= getLongName('import_mails', 'received_at') %></th><td><%=h _time_long(@import_mail.received_at) %></td>
  </tr>
  <tr>
    <th><%= getLongName('import_mails', 'tag_text') %></th><td><% if @import_mail.proper? then %><span class="label label-danger tag">社員</span> <%end%><%=raw format_tags(@import_mail.tag_text) %></td>
  </tr>
  <tr>
    <th><%= getLongName('import_mails', 'payment') %></th><td><%=man @import_mail.payment %></td>
  </tr>
  <tr>
    <th><%= getLongName('import_mails', 'age') %></th><td><%=_age @import_mail.age %></td>
  </tr>
  <tr>
    <th><%= getLongName('import_mails', 'nearest_station') %></th><td><%= @import_mail.nearest_station %></td>
  </tr>
  <tr>
    <th><%= getLongName('import_mails', 'mail_subject') %></th><td><%=h @import_mail.mail_subject %></td>
  </tr>
  <tr>
    <td colspan=2><pre id="mail_body"><%=h(@import_mail.mail_body) %></pre></td>
  </tr>

</table>
<% end %>

<% if !@attachment_files.blank? %>
  <p></p>
  <h2>添付ファイル一覧</h2>
  <%= render :partial => 'attachment_file/list' %>
<% end %>

<div class="submit_box">
  <%= link_or_back '戻る', :action => 'list' %>
</div>

<script type="text/javascript">
<!--
$(function () {
    $(".tag").on("click", function() {
      var tag = this.getAttribute("value");
      if(!tag){return false;}
      if(confirm("このタグを削除します。よろしいですか？")){
        $.post('<%= url_for :controller => :tags, :action => :fix %>', {tag: tag}, function(tag_tag){ return function(data, status, xhr){
          tag_tag.style.display = 'none';
        }}(this));
      }
    });
});

// メールの本文がユーザに選択されている場合、その部分を解析テンプレートに渡す
$(".analysis_mail_link").bind('click', function(event) {
  var selectedText = null;
  var selectionStart = 0;
  var selectionEnd = 0;
  var url = $(this).attr('href');

  // 選択されたテキスト、選択開始位置、選択終了位置を取得
  if (window.getSelection) {
    var selection = window.getSelection();
    selectedText = selection.toString();
    selectionStart = selection.anchorOffset;
    selectionEnd = selection.focusOffset;
  } else if (document.selection) {  // for IE
    range = document.selection.createRange();
    selectedText = range.toString();
    selectionStart = range.startOffset;
    selectionEnd = range.endOffset;
  }

  // 下から上に選択された場合の対策
  if (selectionStart > selectionEnd) {
    var tmp = selectionStart;
    selectionStart = selectionEnd;
    selectionEnd = tmp;
  }

  // メールの文章が範囲選択されている場合
  if (selectedText && $("#mail_body").text().indexOf(selectedText) != -1) {
    if (!confirm("選択した本文で" + $(this).text() + "を行います")) {
      event.preventDefault();
      return false;
    }
    url += '&from=' + selectionStart + '&end=' + selectionEnd;
  }

  // 別ウインドウで表示
  disp_wide(url);

  event.preventDefault();
  return false;
});

// -->
</script>
