<h1>取り込みメール詳細</h1>
<%= link_to_biz_create "案件照会作成", @import_mail  %> | 
<%= link_to_hresource_create "人材所属作成", @import_mail  %> | 
<%= link_to_bp_create "取引先作成", @import_mail %> | 

<table class="show_table">
<% if @import_mail.business_partner %>
	<tr>
	  <th><%= getLongName('import_mails', 'business_partner_id') %></th><td><%=link_to @import_mail.business_partner.business_partner_name, :controller => :business_partner, :action => :show, :id => @import_mail.business_partner_id %></td>
	</tr>
<% end %>
	
<% if @import_mail.bp_pic %>
	<tr>
	  <th><%= getLongName('import_mails', 'bp_pic_id') %></th><td><%=link_to @import_mail.bp_pic.bp_pic_name, :controller => :bp_pic, :action => :show, :id => @import_mail.bp_pic_id %></td>
	</tr>
<% end %>
	
	<tr>
	  <th><%= getLongName('import_mails', 'mail_sender_name') %></th><td><%=h @import_mail.mail_sender_name %></td>
	</tr>
	
	<tr>
	  <th><%= getLongName('import_mails', 'mail_to') %></th><td><%=h @import_mail.mail_to %></td>
	</tr>
	
	<tr>
	  <th><%= getLongName('import_mails', 'mail_cc') %></th><td><%=h @import_mail.mail_cc %></td>
	</tr>
	
	<tr>
	  <th><%= getLongName('import_mails', 'mail_bcc') %></th><td><%=h @import_mail.mail_bcc %></td>
	</tr>
	
	<tr>
	  <th><%= getLongName('import_mails', 'received_at') %></th><td><%=h _time_long(@import_mail.received_at) %></td>
	</tr>
	
	<tr>
	  <th><%= getLongName('import_mails', 'mail_subject') %></th><td><%=h @import_mail.mail_subject %></td>
	</tr>
	
	<tr>
	  <td colspan=2><pre id="mail_body"><%=h(@import_mail.mail_body) %></pre></td>
	</tr>
	
</table>

<% if !@attachment_files.blank? %>
  <p></p>
  <h2>添付ファイル一覧</h2>
  <%= render :partial => 'attachment_file/list' %>
<% end %>

<% if !@biz_offers.blank? %>
  <p></p>
  <h2><%=getLongName('table_name','biz_offers')%>一覧</h2>
  <%= render :partial => 'biz_offer/list', :locals => {:biz_offers => @biz_offers} %>
<% end %>

<% if !@bp_members.blank? %>
  <p></p>
  <h2><%=getLongName('table_name','bp_members')%>一覧</h2>
  <%= render :partial => 'bp_member/list', :locals => {:bp_members => @bp_members} %>
<% end %>

  <p></p>
<%= link_or_back '戻る', :action => 'list' %>

<script type="text/javascript">
<!--

// メールの本文がユーザに選択されている場合、その部分を解析テンプレートに渡す
$(".analysis_mail_link").bind('click', function(event) {
  var selectedText = null;
  var selectionStart = 0;
  var selectionEnd = 0;
  var url = $(this).attr('href');

  // 選択されたテキスト、選択開始位置、選択終了位置を取得
  if (window.getSelection) {
    var selection = window.getSelection();
    selectedText = selection.toString();
    selectionStart = selection.anchorOffset;
    selectionEnd = selection.focusOffset;
  } else if (document.selection) {  // for IE
    range = document.selection.createRange();
    selectedText = range.toString();
    selectionStart = range.startOffset;
    selectionEnd = range.endOffset;
  }

  // 下から上に選択された場合の対策
  if (selectionStart > selectionEnd) {
    var tmp = selectionStart;
    selectionStart = selectionEnd;
    selectionEnd = tmp;
  }

  // メールの文章が範囲選択されている場合
  if (selectedText && $("#mail_body").text().indexOf(selectedText) != -1) {
    if (!confirm("選択した本文で" + $(this).text() + "を行います")) {
      event.preventDefault();
      return false;
    }
    url += '&from=' + selectionStart + '&end=' + selectionEnd;
  }

  // 別ウインドウで表示
  disp_wide(url);

  event.preventDefault();
  return false;
});

// -->
</script>