<% if false %>
<% @related_mails.each_with_index do |related_mail, i| %>
  <tr id="tr_thread" class="thread_row">
    <td colspan=10>
      <div class="row">
        <% if i % 2 == 0 %>
          <div class="col-md-5">
            ---
          </div>
        <% end %>

        <% if related_mail.class.name == 'ImportMail' %>
          <div class="col-md-2"><%=_timetoddmmhhmm(related_mail.received_at) %></div>
          <div class="col-md-3"><%= back_to_link(related_mail.mail_subject, :controller => :import_mail, :action => :show, :id => related_mail.id) %></div>
          <div class="col-md-2"><%= related_mail.bp_pic_id ? back_to_link(related_mail.mail_sender_name, :controller => :bp_pic, :action => :show, :id => related_mail.bp_pic_id) : related_mail.mail_sender_name %></div>
        <% else %>
          <div class="col-md-2"><%= related_mail.mail_from_name %></div>
          <div class="col-md-3"><%= back_to_link(related_mail.subject, :controller => :delivery_mails, :action => :show, :id => related_mail.id) %></div>
          <div class="col-md-2"><%=_timetoddmmhhmm(related_mail.send_end_at) %></div>
        <% end %>

        <% if i % 2 == 1 %>
          <div class="col-md-5">
            ---
          </div>
        <% end %>
      </div>
    </td>
  </tr>
<% end %>
<% end %>

<% @related_mail_data.each_with_index do |mail_data, i| %>
<%# @related_mail_data.each do |mail_data| %>
  <tr id="tr_thread_<%= mail_data[:mail_type] %>_<%= mail_data[:id] %>" class="thread_row" mail_id="<%= mail_data[:id] %>" mail_type="<%= mail_data[:mail_type] %>">
    <td colspan=10>
      <div class="row">
        <% if i % 2 == 0 %>
        <%# if mail_data[:matching_way_type] == 'bp_member' %>
          <div class="col-md-5"></div>
          <div class="col-md-2"><%=_timetoddmmhhmm(mail_data[:disp_time]) %></div>
          <% if mail_data[:mail_type] == 'import_mail' %>
            <div class="col-md-3"><%= back_to_link(mail_data[:subject], :controller => :import_mail, :action => :show, :id => mail_data[:id]) %></div>
            <div class="col-md-2"><%= mail_data[:bp_pic_id] ? back_to_link(mail_data[:sender_name], :controller => :bp_pic, :action => :show, :id => mail_data[:bp_pic_id]) : mail_data[:sender_name] %></div>
          <% else #mail_data[:mail_type] == 'delivery_mail' %>
            <div class="col-md-3"><%= back_to_link(mail_data[:subject], :controller => :delivery_mails, :action => :show, :id => mail_data[:id]) %></div>
            <div class="col-md-2"><%= mail_data[:sender_name] %></div>
          <% end %>
        <% else #mail_data[:matching_way_type] == 'biz_offer' %>
          <% if mail_data[:mail_type] == 'import_mail' %>
            <div class="col-md-2"><%= mail_data[:bp_pic_id] ? back_to_link(mail_data[:sender_name], :controller => :bp_pic, :action => :show, :id => mail_data[:bp_pic_id]) : mail_data[:sender_name] %></div>
            <div class="col-md-3"><%= back_to_link(mail_data[:subject], :controller => :import_mail, :action => :show, :id => mail_data[:id]) %></div>
          <% else #mail_data[:mail_type] == 'delivery_mail' %>
            <div class="col-md-2"><%= mail_data[:sender_name] %></div>
            <div class="col-md-3"><%= back_to_link(mail_data[:subject], :controller => :delivery_mails, :action => :show, :id => mail_data[:id]) %></div>
          <% end %>
          <div class="col-md-2"><%=_timetoddmmhhmm(mail_data[:disp_time]) %></div>
          <div class="col-md-5"></div>
        <% end %>
      </div>
    </td>
  </tr>

  <tr id="tr_thread_detail_<%= mail_data[:mail_type] %>_<%= mail_data[:id] %>" class="detail_row" style="display:none">
  </tr>
<% end %>
