<h1><%=getLongName('table_name','import_mail_matches')%>詳細(id: <%= @import_mail_match.id %>)</h1>

<br>

<div class="submit_box">
  <%= link_or_back '　戻　る　', {:action => 'index'}, {:class => "btn btn-default btn-midium"} %>
</div>

<div class="submit_box">
  <% next_imm_status_tag_list.each do |next_imm_status_tag| %>
    <%= next_imm_status_tag %>
  <% end %>
</div>

<table class="list_table table-bordered table-hover">
  <tr class="head_row">
    <td rowspan=2 sytle="text-align:center">
      <%= star_links @import_mail_match %>&nbsp;<span title="マッチングスコア" class='label label-default'><%= @import_mail_match.mail_match_score %></span>
      <br>
      <%= imm_status_tag(@import_mail_match.imm_status_type, @import_mail_match.imm_status_type_name) %>
    </td>

    <td rowspan=2>
      <%= raw format_only_major_tags(@import_mail_match.tag_text) %>
    </td>

    <td>
      <div class="overflow_hidden" style="width:100%;">
        <%= star_links @import_mail_match.biz_offer_mail %>
        <%= back_to_link(@import_mail_match.biz_offer_mail.mail_subject,
                         { :controller           => :import_mail,
                           :action               => :show,
                           :id                   => @import_mail_match.biz_offer_mail,
                           :import_mail_match_id => @import_mail_match.id,
                           :matching_way_type    => 'biz_offer' }) %>
      </div>
    </td>
    <td>
      <div class="overflow_hidden" style="width:100%;">
        <%= show_stars_auto_match(@import_mail_match.biz_offer_mail) %>
      </div>
    </td>

    <td><div style="width:3.5em"><%=man @import_mail_match.biz_offer_mail.payment %></div></td>
    <td rowspan=2><div style="width:3.5em"><%=man @import_mail_match.payment_gap %></div></td>

    <td><div style="width:3.5em"><%=_age(@import_mail_match.biz_offer_mail.age) %></div></td>
    <td rowspan=2><div style="width:3.5em"><%=_age @import_mail_match.age_gap %></div></td>

    <td><%=_time @import_mail_match.biz_offer_mail.received_at %></td>
  </tr>

  <tr class="head_row">
    <td>
      <div class="overflow_hidden" style="width:100%;">
        <%= star_links @import_mail_match.bp_member_mail%>
        <%= back_to_link(@import_mail_match.bp_member_mail.mail_subject,
                         { :controller           => :import_mail,
                           :action               => :show,
                           :id                   => @import_mail_match.bp_member_mail,
                           :import_mail_match_id => @import_mail_match.id,
                           :matching_way_type    => 'bp_member' }) %>
      </div>
    </td>
    <td>
      <div class="overflow_hidden" style="width:100%;">
        <%= show_stars_auto_match(@import_mail_match.bp_member_mail) %>
      </div>
    </td>

    <td><div style="width:3.5em"><%=man @import_mail_match.bp_member_mail.payment %></div></td>

    <td><div style="width:3.5em"><%=_age(@import_mail_match.bp_member_mail.age) %></div></td>

    <td><%=_time @import_mail_match.bp_member_mail.received_at %></td>
  </tr>

  <tr id="tr_main_detail" class="detail_row">
    <%= render :partial => 'detail' %>
  </tr>

  <%= render :partial => 'thread' %>
</table>

<% if !@attachment_files.blank? %>
  <%= render :partial => 'attachment_file/list' %>
<% end %>

<%= accordion_around_h2("コメント一覧", "1", @remarks.empty?) do %>
  <%= render :partial => 'remarks/list' %>
<% end %>

<div class="submit_box">
  <%= back_to_link('コメント追加', new_remark_path({:remark_key => "import_mail_match", :remark_target_id => @import_mail_match.id}), {:class => "btn btn-info btn-medium"}) %>
</div>

<div class="submit_box">
  <%= link_or_back '　戻　る　', {:action => 'index'}, {:class => "btn btn-default btn-midium"} %>
  <%= delete_to 'このマッチングを削除', @import_mail_match, 'destroy_by_show', {:class => "btn btn-warning btn-midium", :confirm => 'この情報を削除します。よろしいですか?'} %>
</div>

<%= render :partial => 'js' %>
