<div class="list-group">
  <% @remarks.each do |remark| %>
    <div class="list-group-item">
      <div class="list-group-item-heading remark_header">
        <%= remark.get_created_user.nickname %>&nbsp;
        <% if remark.created_user == current_user.login %>
          <div class="btn-group btn-group-xs">
            <%= back_to_link('　編集　', edit_remark_path({:id => remark.id}), {:class => "btn btn-primary"}) %>
            <%= back_to_link('　削除　',      remark_path({:id => remark.id, :authenticity_token => form_authenticity_token}), {:class => "btn btn-default", :method => :delete, :confirm => "コメントを削除します。\nよろしいですか？"}) %>
          </div>
        <% end %>
        <br>
        <%= label_tag 'create_name', _time_long(remark.created_at) %>
        <%= show_rate_stars remark.rating %>
      </div>
      <p class="list-group-item-text"><%= simple_format remark.remark_content %></p>
    </div>
  <% end %>
</div>
