<div class="submit_box">
<%= form_for(@special_word) do |f| %>
<%= hidden_field_tag 'back_to', back_to %>
<%= f.hidden_field :lock_version %>
  <% if @special_word.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@special_word.errors.count, "error") %> prohibited this special_word from being saved:</h2>

      <ul>
      <% @special_word.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table class="form_table">
  <tr>
    <th><%= f.label :special_word_type, getLongName('special_words', 'special_word_type') %></th>
    <td><%= f.select :special_word_type, TypeUtil.getTypeConditions('special_word_type') %></td>
  </tr>
  <tr>
    <th><%= f.label :target_word, getLongName('special_words', 'target_word') %></th>
    <td><%= f.text_field :target_word %></td>
  </tr>
  <tr>
    <th><%= f.label :convert_to_word, getLongName('special_words', 'convert_to_word') %></th>
    <td><%= f.text_field :convert_to_word %></td>
  </tr>
  <tr>
    <th><%= f.label :memo, getLongName('special_words', 'memo') %></th>
    <td><%= f.text_field :memo %></td>
  </tr>
</table>
</div>
<div class=submit_box>
<%= submit_tag '登録', btn_primary %>

<%= link_or_back '戻る', special_words_path %>
</div>
<% end %>
