<% search = session[:special_words_search][:special_word_type] || "" %>
<%= accordion_around(getLongName('table_name','special_words')+" 一覧","") do %>
  <%= form_tag_popup_mode({}, {:method => :get}) do %>
  <table class="form_table">
  <tr>
    <th><i class="fa fa-angle-double-right "></i> 単語区分</th>
    <td>
      <label>
        <%= radio_button_tag 'special_word_type', "", search  == "" %> 全部
      </label>
      <label>
        <%= radio_button_tag 'special_word_type', "special_word", search == "special_word" %> 特別単語
      </label>
      <label>
        <%= radio_button_tag 'special_word_type', "ignore_word", search == 'ignore_word' %> 無視単語
      </label>
      <label>
        <%= radio_button_tag 'special_word_type', "ignore_word_proper", search == 'ignore_word_proper' %> 社員用無視単語
      </label>
      <label>
        <%= radio_button_tag 'special_word_type', "bp_member_word", search == 'bp_member_word' %> 人材メール判定用特別単語
      </label>
      <label>
        <%= radio_button_tag 'special_word_type', "country_word_foreign", search == 'country_word_foreign' %> 国名(外国)
      </label>
    </td>
  </tr>
  <tr>
    <th colspan="2">
      <%= submit_tag '　　検索　　', :name => 'search_button', :class => 'btn btn-warning btn-midium' %> <%= submit_tag '　　クリア　　', :name => 'clear_button', :class => 'btn btn-warning btn-midium' %>
    </th>
  </tr>
</table>
  <% end %>
<% end %>

<div class="submit_box">
  <%= back_to_link getLongName('table_name','special_words') + ' の新規作成', new_special_word_path, btn_primary  %>
</div>

<%= paginate(@special_words) %>

<table class="list_table table-bordered table-hover">
  <tr>
    <th><%= getLongName('special_words', 'special_word_type') %></th>
    <th><%= getLongName('special_words', 'target_word') %></th>
    <th><%= getLongName('special_words', 'convert_to_word') %></th>
    <th><%= getLongName('special_words', 'memo') %></th>
  </tr>

  <% @special_words.each do |special_word| %>
    <tr>
    <td><%= back_to_link special_word.special_word_type_name, special_word %></td>
    <td><%= special_word.target_word %></td>
    <td><%= special_word.convert_to_word %></td>
    <td><%= special_word.memo %></td>
  </tr>
<% end %>
</table>

<br />

<%= paginate(@special_words) %>

