<h1><%= getLongName('table_name','special_words')%> 詳細</h1>

<div class="submit_box">
<table class="show_table">
  <tr>
    <th><%= getLongName('special_words', 'special_word_type') %></th>
    <td><%= @special_word.special_word_type_name %></td>
  </tr>
  <tr>
    <th><%= getLongName('special_words', 'target_word') %></th>
    <td><%= @special_word.target_word %></td>
  </tr>
  <tr>
    <th><%= getLongName('special_words', 'convert_to_word') %></th>
    <td><%= @special_word.convert_to_word %></td>
  </tr>
  <tr>
    <th><%= getLongName('special_words', 'memo') %></th>
    <td><%= @special_word.memo %></td>
  </tr>
</table>

<%= back_to_link '編集', edit_special_word_path(@special_word), btn_primary %>
<%= delete_to_rest '削除', @special_word %>
<%= link_or_back '戻る', special_words_path %>
</div>
